@charset "UTF-8";

/* helpers */
@import "helpers/helpers";

/* Main Styles */
body {
  font-size: $font-base;
  font-family: $fontGlobal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* fonts */
@font-face {
  font-family: 'Roboto Cn';
  src: url('../fonts/Roboto-BoldCondensed.eot');
  src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-BoldCondensed.woff2') format('woff2'),
      url('../fonts/Roboto-BoldCondensed.woff') format('woff'),
      url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
      url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot');
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ubuntu.woff2') format('woff2'),
      url('../fonts/Ubuntu.woff') format('woff'),
      url('../fonts/Ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensedLight-Light.eot');
  src: url('../fonts/RobotoCondensedLight-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoCondensedLight-Light.woff2') format('woff2'),
      url('../fonts/RobotoCondensedLight-Light.woff') format('woff'),
      url('../fonts/RobotoCondensedLight-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.eot');
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
      url('../fonts/Ubuntu-Bold.woff') format('woff'),
      url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Lt';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}



/* end Main Styles */
@import "custom/custom";
/* header */
@import "./partials/header";

// pages
@import "./pages/homepage";
@import "./pages/article";
@import "./pages/jobs";
@import "./pages/my-jobs";
@import "./pages/company";
@import "./pages/vacancy";
@import "./pages/more-vacancy";
@import "./pages/partners";

// style

//!style

/* footer */
@import "./partials/footer";

/* responsive */

@import "custom/responsive";


////////////////////////////////////////////////////////////////* RETINA MEDIA*/

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
  only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 767px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 767px),
  only screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  only screen and (min-resolution: 192dpi) and (max-width: 767px),
  only screen and (min-resolution: 2dppx) and (max-width: 767px) {
}
