section.ngl-works
	.container
		div(class='ngl-works__head')
			h2.title Мои работы
			p.ngl-tag.text
				| #програмист#фриланс#оплата
		ul.works-list
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_1.jpg' alt='Работа' itemprop="contentUrl")
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_2.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_3.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_4.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_5.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_6.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_7.jpg' alt='Работа')
			li(itemscope itemtype="http://schema.org/ImageObject")
				meta(itemprop="name" content="Работа")
				meta(itemprop="description" content="Работа в портфолио")
				a(href='#')
					img(src='img/works/works_8.jpg' alt='')
		nav.navigation.pagination(role='navigation')
			div(class='navigation__arrow arrow-prev')
				svg(width='35' height='21' viewBox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M35 11H1.49275' stroke='white')
					path(d='M10.3623 1L0.999986 10.5L10.3623 20' stroke='white')
			.nav-links
				span.page-numbers.current 1
				a.page-numbers(href='#') 2
				a.page-numbers(href='#') 3
			div(class='navigation__arrow arrow-next')
				svg(width='35' height='21' viewBox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M0 11H33.5072' stroke='white')
					path(d='M24.6377 1L34 10.5L24.6377 20' stroke='white')
