section.ngl-blog
	.container
		h2.title IT+Экономика
		ul.ngl-news
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='image')
				meta(itemprop='headline name' content='Как нашли меня через таргетинговую рекламу в соцсетях')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				p(class='ngl-news__picture')
					| Как нашли меня через таргетинговую рекламу в соцсетях
				div(class='ngl-news__main')
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					p.text
						| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_1.jpg')
				meta(itemprop='headline name' content='Как нашли меня через таргетинговую рекламу в соцсетях')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img(src='img/news/news_1.jpg' alt='' loading="lazy")
				div(class='ngl-news__main')
					p.subtitle
						| Как нашли меня через таргетинговую рекламу в соцсетях
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_2.jpg')
				meta(itemprop='headline name' content='Создание lamp и mean-среды у себя дома с помошью devilbox')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_2.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Создание lamp и mean-среды у себя дома с помошью devilbox
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_3.jpg')
				meta(itemprop='headline name' content='Проблемы на сайте bitbucket.org')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_3.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Проблемы на сайте bitbucket.org
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_4.jpg')
				meta(itemprop='headline name' content='Как заказывать сайт программисту')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_4.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Как заказывать сайт программисту
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_5.jpg')
				meta(itemprop='headline name' content='Про современные мобильные телефоны и не только')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_5.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Про современные мобильные телефоны и не только
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_6.jpg')
				meta(itemprop='headline name' content='Не про IT. Обзор стеклянных фляг фирмы Equa')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_6.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Не про IT. Обзор стеклянных фляг фирмы Equa
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
			li(class='ngl-news__item' itemscope itemtype="https://schema.org/Article")
				link(itemprop='mainEntityOfPage' href='/')
				link(itemprop='image' href='img/news/news_7.jpg')
				meta(itemprop='headline name' content='Про технику и привычки.')
				meta(itemprop='description' content='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
				meta(itemprop="author" content="Никита Меншутин")
				meta(itemprop="datePublished" datetime="2021-04-22" content="2021-04-22")
				meta(itemprop="dateModified" datetime="2021-04-22" content="2021-04-22")
				div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
					div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
						img(itemprop="url image" src="img/logo.png" alt="Nikita Global" title="Nikita Global" style="display:none;")
					meta(itemprop="name" content="Nikita Global")
					meta(itemprop="telephone" content="")
					meta(itemprop="address" content="Россия")
				div(class='ngl-news__date text')
					span 22
					| /04
				div(class='ngl-news__picture')
					img.lazy(src='img/news/news_7.jpg' alt='')
				div(class='ngl-news__main')
					p.subtitle
						| Про технику и привычки.
					p.text
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					div(class='ngl-news__footer')
						div(class='ngl-news__tags text')
							| #Lorem#ipsum#dolor
						div(class='ngl-news__info')
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__comment')
								span(class='ngl-news__counter text text_small') 7
							div(class='ngl-news__function d-flex align-items-center')
								span(class='ngl-news__views')
								span(class='ngl-news__counter text text_small') 120
		nav.navigation.pagination(role='navigation')
			div(class='navigation__arrow arrow-prev')
				svg(width='35' height='21' viewBox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M35 11H1.49275' stroke='white')
					path(d='M10.3623 1L0.999986 10.5L10.3623 20' stroke='white')
			.nav-links
				span.page-numbers.current 1
				a.page-numbers(href='#') 2
				a.page-numbers(href='#') 3
			div(class='navigation__arrow arrow-next')
				svg(width='35' height='21' viewBox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M0 11H33.5072' stroke='white')
					path(d='M24.6377 1L34 10.5L24.6377 20' stroke='white')
