section.ngl-breadcrumbs
	.container
		.ngl-breadcrumbs__head
			.ngl-breadcrumbs__pagination
				a(href="#") Мои Работы
				a(href="#") Сайт “Шоколадные конфеты ручной работы”
			p.ngl-tag.text #програмист#фриланс#оплата
section.present-work
	.container
		.present-work__inner
			.present-work__block
				.present-work__preview
					img(src="img/present-work/present-work_1.jpg")
				.present-work__secondary
					img(src="img/present-work/present-work_2.jpg")
					a.present-work__more(href="#")
						span.present-work__quantity 4
						img(src="img/present-work/present-work_3.jpg")
			.present-work__block
				h3 Сайт "Шоколадные конфеты ручной работы"
				p.text Сайт-каталог с формами обратной связи и формой заказа товаров.