section.friends
	.container
		h2.title.text-center Друзья и партнеры
		ul.friends-list
			li
				.friends-list__logo
					img(src="img/friends/friends_1.png")
				p.text один из крупнейших хостинг-провайдеров России.
			li
				.friends-list__logo
					img(src="img/friends/friends_2.png")
				p.text сервис, который сделает работу вашего сайта безупречной.
			li
				.friends-list__logo
					img(src="img/friends/friends_3.png")
				p.text облачный сервис по ведению бухгалтерии.
			li
				.friends-list__logo
					img(src="img/friends/friends_1.png")
				p.text один из крупнейших хостинг-провайдеров России.
			li
				.friends-list__logo
					img(src="img/friends/friends_2.png")
				p.text сервис, который сделает работу вашего сайта безупречной.
			li
				.friends-list__logo
					img(src="img/friends/friends_3.png")
				p.text облачный сервис по ведению бухгалтерии.
			li
				.friends-list__logo
					img(src="img/friends/friends_1.png")
				p.text один из крупнейших хостинг-провайдеров России.
			li
				.friends-list__logo
					img(src="img/friends/friends_2.png")
				p.text сервис, который сделает работу вашего сайта безупречной.
			li
				.friends-list__logo
					img(src="img/friends/friends_3.png")
				p.text облачный сервис по ведению бухгалтерии.
