section.ngl-breadcrumbs
	.container
		.ngl-breadcrumbs__pagination
			a(href="#") Главная
			a(href="#") Как заказывать сайт программисту
section.ngl-article
	.container
		.content-zone
			h3 Как нашли меня через таргетинговую рекламу в соцсетях
			.ngl-article__info
				span.ngl-article__date 02.05.2020
				span.ngl-article__tag
			p Сергей Чернухин, один из моих заказчиков, опубликовал в своем блоге zakazsajta.ru пост о том как он искал разработчика для WordPress и нашел меня.<br>Полностью материал доступен здесь.<br>От себя добавлю что для расчетов применялась “Безопасная сделка”. Никаких конфликтных ситуаций и недоразумений во время работы не было, но это оказалось все-равно не лишним, т.к. существенно ускорило расчеты и обмен закрывающими документами.
			.devider
		.ngl-article__footer
			.ngl-article__comment
				p Написать коментарий
				form.write-comment
					textarea.write-comment__field(placeholder="Написать")
					button(type="button" class="button" disabled) Отправить
			.ngl-article__share
				p Поделиться:
				.ngl-social
					a(href='#' class='ngl-social__link')
						svg(width='30' height='30')
							use(class="default" xlink:href='css/sprite.svg#fb')
							use(class="hover" xlink:href='css/sprite.svg#fb-hover')
					a(href='#' class='ngl-social__link')
						svg(width='30' height='30')
							use(class="default" xlink:href='css/sprite.svg#vk')
							use(class="hover" xlink:href='css/sprite.svg#vk-hover')
					a(href='#' class='ngl-social__link')
						svg(width='30' height='30')
							use(class="default" xlink:href='css/sprite.svg#ytb')
							use(class="hover" xlink:href='css/sprite.svg#ytb-hover')
					a(href='#' class='ngl-social__link')
						svg(width='30' height='30')
							use(class="default" xlink:href='css/sprite.svg#telegram')
							use(class="hover" xlink:href='css/sprite.svg#telegram-hover')
				span.text #програмист#фриланс#оплата





	