section.ngl-breadcrumbs
	.container
		.ngl-breadcrumbs__pagination
			a(href="#") Главная
			a(href="#") Как заказывать сайт программисту
section.content-zone.about-work
	.container
		.content-zone__inner.clearfix
			h3 Как заказывать сайт программисту
			.pictures
				.pictures__block
				.pictures__block
			.content-zone__text
				p Если техническое задание писали не вы, а другой человек – прочтите, задайте столько вопросов, сколько нужно.
				p Ни в коем случае не связывайтесь с программистом, который работает без технического задания. Он или новичок, или расчитывает на легкий заработок. Если работа окажется чуть сложнее чем он ожидал, он просто прекратит работу, а без технического задания вы никак не сможете выставить претензию или привлечь к ответственности (незаконные способы мы не рассматриваем)
				p Не ставьте задачи по телефону. Потом никто не найдет концов, а если проект на месяц, то никто не вспомнит о чем именно договорились. Опять же как предыдущем пункте – при разногласиях не на что будет ссылаться.
				p Если работаете через безопасную сделку – все замечания, уточнения, пожелания передавайте только средствами службы, гарантирующей безопасность сделки.
				p Со стороны Заказчика, также как и со стороны Исполнителя выступать должен один человек. Иначе исполнителю будет сложно понять кто главнее и кого слушать. Ситуации, когда менеджер дает одно задание, а потом зам.директора меняет на другое, после чего генеральный директор меняет на третье, а в итоге еще появляются какие-нибудь учредители, быть не должно и не должно быть проблемой Исполнителя.
				p Не связывайтесь с программистом, который ведет разработку на сервере хостинг-провайдера и сайт доступен публично на этапе разработки (если только не согласован промежуточный показ результатов). Этот программист – новичок.
				.content-zone__mark
					p Если техническое задание писали не вы, а другой человек – прочтите, задайте столько вопросов, сколько нужно.
					p Ни в коем случае не связывайтесь с программистом, который работает без технического задания. Он или новичок, или расчитывает на легкий заработок. Если работа окажется чуть сложнее чем он ожидал, он просто прекратит работу, а без технического задания вы никак не сможете выставить претензию или привлечь к ответственности (незаконные способы мы не рассматриваем)
					p Не ставьте задачи по телефону. Потом никто не найдет концов, а если проект на месяц, то никто не вспомнит о чем именно договорились. Опять же как предыдущем пункте – при разногласиях не на что будет ссылаться.
					p Если работаете через безопасную сделку – все замечания, уточнения, пожелания передавайте только средствами службы, гарантирующей безопасность сделки.
					p Со стороны Заказчика, также как и со стороны Исполнителя выступать должен один человек. Иначе исполнителю будет сложно понять кто главнее и кого слушать. Ситуации, когда менеджер дает одно задание, а потом зам.директора меняет на другое, после чего генеральный директор меняет на третье, а в итоге еще появляются какие-нибудь учредители, быть не должно и не должно быть проблемой Исполнителя.
					p Не связывайтесь с программистом, который ведет разработку на сервере хостинг-провайдера и сайт доступен публично на этапе разработки (если только не согласован промежуточный показ результатов). Этот программист – новичок.

			.pictures-vertical
				.pictures__block
				.pictures__block



