section.about
	.container
		h2.title Обо мне
		.about__main
			.about__head
				img(src="img/about/I-am.jpg")
				.about__details
					h3 Приветствую!
					p Меня зовут Никита Меншутин и я рад тому что вы зашли на мой сайт.
					p Мои знания, опыт и профессиональные интересы находятся на стыке двух наук – мировой экономики и информационных технологий (IT). Это и будет основной темой сайта.
					.about__contacts
						h4 Мои контакты:
						p 9 (900) 877 65 456 
						p nikita@gmail.com 
						.ngl-social
							a(href='#' class='ngl-social__link')
								svg(width='30' height='30')
									use(class="default" xlink:href='css/sprite.svg#fb-black')
									use(class="hover" xlink:href='css/sprite.svg#fb-hover')
							a(href='#' class='ngl-social__link')
								svg(width='30' height='30')
									use(class="default" xlink:href='css/sprite.svg#vk-black')
									use(class="hover" xlink:href='css/sprite.svg#vk-hover')
							a(href='#' class='ngl-social__link')
								svg(width='30' height='30')
									use(class="default" xlink:href='css/sprite.svg#ytb-black')
									use(class="hover" xlink:href='css/sprite.svg#ytb-hover')
							a(href='#' class='ngl-social__link')
								svg(width='30' height='30')
									use(class="default" xlink:href='css/sprite.svg#telegram-black')
									use(class="hover" xlink:href='css/sprite.svg#telegram-hover')
			.about__content
				.about__column
					h4 Биография
					p Мне 37 лет, родился я в Москве, живу в разных регионах планеты, но преимущественно в Болгарии и России.
					p В настоящее время я занимаюсь разработкой полного цикла (full stack) сайтов и приложений. Располагаю слаженной и проверенной за несколько лет командой дизайнеров, фронт- и бэкенд разработчиков, помимо руководства сам выступаю как разработчик.
					p Не являюсь “фрилансером”, работаю по договору от юр.лица (подробности по ссылке в футере) с полной ответственностью в рамках дейстующего Законодательства.
				.about__column
					.about__group
						h4 Профессиональное
						ul
							li Всероссийская Академия внешней торговли (Россия),
							li Institut International de Rambouillet (Франция),
							li Cardiff Metropolitan University (Великобритания),
							li курсы Hong Kong University of Science and Technology (Гонконг, Китай).
					h4 "Айтишное":
					p В настоящее время занимаюсь backend-разработкой (чистый PHP, WordPress, Joomla, различные фреймы),<br>знаю HTML5, CSS3 (а также SASS, Bootstap), Javascript (а также jquery, ReactJS).
				.about__column
					.about__group
						h4 "Неайтишное":
						p Экономист-международник.<br>Знаю как перемещаются деньги и грузы через границы, умею составлять внешнеторговые контракты, проводить переговоры, выставки, вести деловую переписку, анализировать рынки и многое другое что входит в эту специальность. Работал в Японии, Голландии, Марокко, Болгарии, странах СНГ и других странах.
						p Свободно владею русским, английским, французским и болгарским языками.
					h4 Свободное время
					p Люблю спорт – бег, горные лыжи, бокс. Синий пояс по тхэквондо, выступаю на соревнованиях, есть медали. 
					p Люблю старые автомобили, старое кино, музыку преимущественно 20-го века, классическую литературу и научную фантастику. 
					p Люблю путешествовать, посетил уже около 25 стран. Временами пишу статьи для разных СМИ, подробнее здесь.
			.author
				h4 CV:
				a(href="index.html") Nikita Global
			.certificates
				h4 Сертификаты:
				.cerificates__inner
					img(src="img/about/certificate.jpg")
					.pic
					.pic


