section.vacancies
	.container
		.vacancies__inner
			aside.sidebar
				h2.title Вакансии
				p.sidebar__heading Категории:
				.sidebar__links
					a(href="#") Верстка
					a.active(href="#") Верстка
					a(href="#") Верстка
					a(href="#") Верстка
					a(href="#") Верстка
			.vacancies__main
				form.vacancies__search
					input.field(type="text")
					button(type="button")
						svg(width='20' height='20')
							use(xlink:href='css/sprite.svg#search')
				ul.vacancies__list
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера
					li
						.vacancies__head
							span.vacancies__icon
								svg(width='80' height='80')
									use(xlink:href='css/sprite.svg#vacancy')
							.vacancies__info
								p.heading Веб-разработчик
								p.salary 70 000 руб.
						.vacancies__description
							p.text.text_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							.vacancies__notes
								.vacancies__mark
									span
									p.text_small Duis aute irure dolor in 

								span.vacancies__day.text_small вчера


