header.ngl-header(itemscope itemtype="http://schema.org/WPHeader")
	meta(itemprop="headline" content="Nikita Global")
	meta(itemprop="description" content="Меня зовут Никита Меншутин и я рад тому что вы зашли на мой сайт. Мои знания, опыт и профессиональные интересы находятся на стыке двух наук – мировой экономики и информационных технологий (IT). Это и будет основной темой сайта.")
	meta(itemprop="keywords" content="фриланс, it, мировая экономика, информационные технологии")
	nav.navbar.navbar-expand-xl(itemscope itemtype="http://schema.org/SiteNavigationElement")
		.container
			a.navbar-brand(href='#')
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
					svg.menu-open(width='35' height='20' viewbox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg')
						rect(width='35' height='4' fill='#E6E6E6')
						rect(y='8' width='35' height='4' fill='#E6E6E6')
						rect(y='16' width='35' height='4' fill='#E6E6E6')
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a(class=(name == "main" ? "nav-link active" : "nav-link") href='/' itemprop="url") Главная
					li.nav-item
						a(class=((name == "works" || name == "present-work" || name == "my-work")? "nav-link active" : "nav-link") href='works.html' itemprop="url") Мои работы
					li.nav-item
						a(class=((name == "vacancy" || name == "one-vacancy") ? "nav-link active" : "nav-link") href='vacancy.html' itemprop="url") Вакансии
					li.nav-item
						a(class=(name == "friends" ? "nav-link active" : "nav-link") href='friends.html' itemprop="url") Друзья и партнеры
					li.nav-item
						a(class=(name == "about" ? "nav-link active" : "nav-link") href='about.html' itemprop="url") Обо мне
				div(itemscope itemtype="https://schema.org/WebSite")
					meta(itemprop="url" content="https://nikita-global.ru")
					form.ngl-search(action='sender.php' itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction")
						meta(itemprop="target" content="https://nikita-global.ru/search/?q={query}")
						button(type='button' class='ngl-search__btn')
							svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M19.7722 18.6726L14.8912 13.7917C16.1045 12.3328 16.8354 10.4593 16.8354 8.41797C16.8354 3.77628 13.0592 0 8.41776 0C3.77618 0 0 3.77628 0 8.41797C0 13.0593 3.77618 16.8353 8.41776 16.8353C10.459 16.8353 12.3326 16.1045 13.7915 14.8912L18.6726 19.7722C18.8244 19.9241 19.0234 20 19.2224 20C19.4214 20 19.6204 19.9241 19.7723 19.7722C20.076 19.4685 20.076 18.9763 19.7722 18.6726ZM1.55518 8.41797C1.55518 4.63381 4.6337 1.55518 8.41776 1.55518C12.2017 1.55518 15.2801 4.63381 15.2801 8.41797C15.2801 12.2018 12.2017 15.2801 8.41776 15.2801C4.6337 15.2801 1.55518 12.2018 1.55518 8.41797Z' fill='white')
						div(class='ngl-search__wrap')
							input(class='ngl-search__field' type='text' placeholder='Поиск' itemprop="query-input" name="query" required)
				a.neon-btn.request-toggler(href='#')
					| Обратиться
				.ngl-social
					a(href='#' class='ngl-social__link')
						svg(width='20' height='20')
							use(class="default" xlink:href='css/sprite.svg#fb')
							use(class="hover" xlink:href='css/sprite.svg#fb-hover')
					a(href='#' class='ngl-social__link')
						svg(width='20' height='20')
							use(class="default" xlink:href='css/sprite.svg#vk')
							use(class="hover" xlink:href='css/sprite.svg#vk-hover')
					a(href='#' class='ngl-social__link')
						svg(width='20' height='20')
							use(class="default" xlink:href='css/sprite.svg#ytb')
							use(class="hover" xlink:href='css/sprite.svg#ytb-hover')
					a(href='#' class='ngl-social__link')
						svg(width='20' height='20')
							use(class="default" xlink:href='css/sprite.svg#telegram')
							use(class="hover" xlink:href='css/sprite.svg#telegram-hover')
				ul.languages
					li
						a.current(href='#') Рус
					li
						a(href='#') Eng

