link(rel="stylesheet" href="css/swiper-bundle.min.css")
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel="stylesheet" href="css/main.css")
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=PT+Mono&family=Press+Start+2P&family=Roboto:wght@400;500;700;900&display=swap' rel='stylesheet')

