link(rel="stylesheet" href="css/swiper-bundle.min.css")
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel='stylesheet' href='css/lightzoom.css')
link(rel="stylesheet" href="css/main.css")
link(href='fonts/stylesheet.css' rel='stylesheet')

