<div class="main-menu">
    <ul>
        <li>
            <a href="#"> Главная </a>
        </li>
        <li>
            <a href="#"> Блог</a>
        </li>
        <li>
            <a href="#" class="menu-cl"> Статья </a>
        </li>

    </ul>
</div>
