<div class="jobs-col vacancy-col">
    <select>
        <option> Фильтр</option>
        <option> Фильтр</option>
        <option> Фильтр</option>
    </select>
    <div class="click">
        <a href="#"> <i class="fas fa-angle-down"></i></a>
    </div>
</div>