<div class="modal" id="write">
	<div class="modal-content">
		<div class="write-item">
			<h5> напишите мне </h5>
		</div>
		<form>
			<div class="form-block">
				<div class="form-group">
					<input type="text" placeholder="ваше имя ">
				</div>
				<div class="form-group">
					<input type="text" placeholder="ваш е-майл ">
				</div>
				<div class="form-group">
					<textarea name="text" placeholder="сообщение"></textarea>
				</div>
			</div>
			<div class="check">
				<label><input type="checkbox">
					<p> согласие с обработкой данных</p>
				</label>
			</div>
			<div class="send">
				<button> отправить</button>
			</div>
		</form>
		<div class="close">
			<a href="#"> <img src="img/close.png"></a>
		</div>
	</div>
</div>