<footer>
	<div class="container">
		<div class="footer-menu">
			<div class="footer-logo">
				<div class="logo-items">
					<div class="logo-img">
						<img src="img/project-logo.png">
					</div>
					<div class="logo-text">
						<p> 2007-2019 &copy</p>
					</div>
				</div>
				<div class="footer-web-menu">
					<% include nav-social.ejs %>
				</div>
			</div>
			<div class="footer-menu-items">
				<div class="footer-menu">
				<% include nav-footer.ejs %>
				</div>
				<div class="footer-info-text">
					<p> Перепечатка материалов без согласования допустима при наличии dofollow-ссылки на
						страницу-источник.
					</p>
				</div>
			</div>
			<div class="footer-text">
				<div class="footer-text-items">
					<h4> Последние посты</h4>
				</div>
				<div class="text-items">
					<p> Самое полное руководство по регистрации ИП: как начать свой бизнес в 2019 году</p>
					<h5> 15 Января 2019</h5>
				</div>
				<div class="text-items">
					<p> Самое полное руководство по регистрации ИП: как начать свой бизнес в 2019 году</p>
					<h5> 15 Января 2019</h5>
				</div>
			</div>
			<div class="footer-text">
				<div class="footer-text-items">
					<h4> Популярные посты</h4>
				</div>
				<div class="text-items">
					<p> Самое полное руководство по регистрации ИП: как начать свой бизнес в 2019 году</p>
					<h5> 15 Января 2019</h5>
				</div>
				<div class="text-items">
					<p> Самое полное руководство по регистрации ИП: как начать свой бизнес в 2019 году</p>
					<h5> 15 Января 2019</h5>
				</div>
			</div>
		</div>
	</div>
</footer>
<% include footer-modal.ejs %>
<script>
	var ngtheme = "";
</script>
<script src="js/jquery-3.3.1.min.js" defer></script>
<!-- Main js file -->
<script src="js/main.js" defer></script>
</body>


</html>