<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header>
        <div class="header-wrap">
            <div class="container">
                <div class="header-info">
                    <div class="header-item">
                        <div class="logo">
                            <img src="img/project-logo.png">
                        </div>
                        <div class="toggle">
                            <a href="#">
                                    <i class="fas fa-bars"></i>
                            </a>
                        </div>
                        <div class="header-menu">
                            <% include nav-top.ejs %>
                        </div>
                    </div>
                    <div class="wrap-items">
                        <% include nav-languages.ejs %>
                        <div class="web-items">
                            <% include nav-social.ejs %>
                        </div>
                        <div class="write-btn">
                            <a href="#write" class="open-modal"> написать мне</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>