<ul>
    <li>
        <a href="#"> о компании</a>
    </li>
    <li>
        <a href="#"> мои работы</a>
    </li>
    <li>
        <a href="#"> цены</a>
    </li>
    <li>
        <a href="#"> font-awesome</a>
    </li>
    <li>
        <a href="#"> вакансии</a>
    </li>
</ul>