<ul>
    <li>
        <a href="#">
            <i class="fab fa-telegram"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
</ul>