<ul>
    <li>
        <a href="#"> Политика конфиденциальности </a>
    </li>
    <li>
        <a href="#"> о компании</a>
    </li>
    <li>
        <a href="#"> цены </a>
    </li>
    <li>
        <a href="#"> font-awesome </a>
    </li>
    <li>
        <a href="#"> парнёры </a>
    </li>
</ul>