<nav class="navigation pagination" role="navigation">
    <div class="nav-links">
        <a href="#" class="border"><<</a> 
        <span class='page-numbers current'>1</span>
        <a class='page-numbers' href='#'>2</a>
        <a class='page-numbers' href='#'>3</a>
        <a class='page-numbers' href='#'>4</a>
        <a class='page-numbers' href='#'> >></a>
    </div>
</nav>