<div class="main-items">
    <div class="wrap-menu">
        <div class="section-menu">
            <ul>
                <li class="open-menu-items">
                    <a href="#">
                        Теги
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <% include nav-categories.ejs %>
                </li>
                <li class="open-menu-items">
                    <a href="#">
                        Категории
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <% include nav-tags.ejs %>
                </li>
                <li class="open-menu-items">
                    <a href="#">
                        популярные записи
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <ul>
                        <li> интернет </li>
                        <li> новые технологии</li>
                        <li> тренды</li>
                        <li> финансы</li>
                        <li> новости компаний</li>
                        <li> брендятина</li>
                        <li> личный опыт</li>
                    </ul>
                </li>
            </ul>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="">
                    <label> <i class="fas fa-search"></i></label>
                </div>
            </form>
        </div>

        <div class="main-image">
            <div class="content-image">
                <img src="img/main-item8.png">
            </div>
            <div class="question">
                <div class="question-img">
                    <img src="img/content-img.png">
                </div>
                <div class="question-text">
                    <p> вопросы <br /> к учёным</p>
                </div>
            </div>
        </div>
    </div>

</div>
