extends ../layout/layout.pug
block vars
	- var title = 'Друзья и партнеры';
	- var name = "friends";
block header
	include ../includes/header.pug
block content
	include ../includes/content-friends.pug
block footer
	include ../includes/footer.pug