extends ../layout/layout.pug
block vars
	- var title = 'Запись';
	- var name = "full-article";
block header
	include ../includes/header.pug
block content
	include ../includes/content-full-article.pug
block footer
	include ../includes/footer.pug              