extends ../layout/layout.pug
block vars
	- var name = "main";
	- var title = 'Блог';
block header
	include ../includes/header.pug
block content
	include ../includes/content-main.pug
block footer
	include ../includes/footer.pug 

