extends ../layout/layout.pug
block vars
	- var title = 'Фото работы';
	- var name = "my-work";
block header
	include ../includes/header.pug
block content
	include ../includes/content-my-work.pug
block footer
	include ../includes/footer.pug        