extends ../layout/layout.pug
block vars
	- var title = 'Вакансия';
block header
	include ../includes/header.pug
block content
	include ../includes/content-one-vacancy.pug
block footer
	include ../includes/footer.pug 
              
