extends ../layout/layout.pug
block vars
	- var title = 'Вакансии';
	- var name = "vacancy";
block header
	include ../includes/header.pug
block content
	include ../includes/content-vacancy.pug
block footer
	include ../includes/footer.pug