<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="jobs-contents">
                <% include partials/crumbs.ejs %>
                <div class="jobs-wrap">
                    <div class="job-items">
                        <h4> мои работы </h4>
                        <p> веб программирование</p>
                    </div>
                    <% include partials/filter.ejs %>
                </div>

                <div class="jobs-image-items">
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                </div>
                <div class="web-text">
                    <h5> веб сайты</h5>
                </div>
                <div class="jobs-image-items">
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                    <% include preview-portfolio.ejs %>
                </div>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>