<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="vacancy-contents">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="#"> Главная </a>
                        </li>
                        <li>
                            <a href="#" class="menu-cl"> Вакансии </a>
                        </li>
                    </ul>
                </div>
                <div class="all-vacancy">
                    <div class="vacancy-header">
                        <h4> Я ищу специалистов </h4>
                    </div>
                    <% include partials/filter.ejs %>
                </div>
                <% include preview-positions.ejs %>
                <% include preview-positions.ejs %>
                <% include preview-positions.ejs %>
                <% include preview-positions.ejs %>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>