<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <div class="main-items">
                <% include partials/sidebar.ejs %>
            </div>
            <div class="partners-items">
                <% include partials/crumbs.ejs %>
                <div class="item">
                    <h4> Партнёры </h4>
                </div>
                <div class="partners-contents">
                    <% include preview-partner.ejs %>
                    <% include preview-partner.ejs %>
                    <% include preview-partner.ejs %>
                    <% include preview-partner.ejs %>
                    <% include preview-partner.ejs %>
                    <% include preview-partner.ejs %>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>