<div class="about-project">
    <h5> ещё по теме</h5>
</div>
<div class="section-info">
    <div class="info-col">
        <div class="info-col-item">
            <div class="info-col-img">
                <a href="#">
                    <img src="img/main-item6.png">
                </a>
            </div>
            <div class="info-col-text">
                <div class="col-text">
                    <div class="btn warning">
                        <a href="#"> мир</a>
                    </div>
                    <div class="col-date">
                        <p> 16 Января 2019 </p>
                    </div>
                </div>
                <div class="col-content">
                    <h4>
                        <a href="#">Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им стать</a>
                    </h4>
                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                </div>
                <div class="share-items">
                    <div class="comment">
                        <a href="#">
                            <i class="fas fa-comment"></i>
                            12
                        </a>

                    </div>
                    <div class="to-share">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-col">
        <div class="info-col-item">
            <div class="info-col-img">
                <a href="#">
                    <img src="img/main-item7.png">
                </a>
            </div>
            <div class="info-col-text">
                <div class="col-text">
                    <div class="btn warning">
                        <a href="#"> мир </a>
                    </div>
                    <div class="col-date">
                        <p> 16 Января 2019 </p>
                    </div>
                </div>
                <div class="col-content">
                    <h4>
                        <a href="#">Полное руководство по лид-формам в Facebook</a>
                    </h4>
                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                </div>
                <div class="share-items">
                    <div class="comment">
                        <a href="#">
                            <i class="fas fa-comment"></i>
                            12
                        </a>

                    </div>
                    <div class="to-share">
                        <a href="#">
                            <i class="fas fa-share-alt"></i>
                            2
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>