<div class="content-background">
    <div class="content-items">
        <div class="background-info">
            <h5> 16 Января 2019</h5>
            <h2> Личный опыт: как искали копирайтера на бирже «Главреда»</h2>
        </div>
        <div class="share-items">
            <div class="comment">
                <a href="#">
                    <i class="fas fa-comment"></i>
                    12
                </a>

            </div>
            <div class="to-share">
                <a href="#">
                    <i class="fas fa-share-alt"></i>
                    2
                </a>
            </div>
        </div>
        <div class="content-info">
            <p> Автор-фрилансер Дарья Сопина рассказала блогу Нетологии, как написать конверсионный
                текст
                для лендинга, зачем изучать целевую аудиторию перед созданием, как правильно
                выбрать объем.
            </p>
        </div>
    </div>
    <div class="web">
        <a href="#"> интернет</a>
    </div>
</div>
<div class="experience-info">
    <h4> Определяем целевую аудиторию </h4>
    <p> Целевая аудитория — пользователи, которые могут и хотят купить ваш продукт. </p>
    <p> Первый этап разработки лендинга — маркетинговый анализ. Его задача — узнать, кто целевая
        аудитория, чтобы определить наиболее важные для нее характеристики продукта, расписать
        <a href="#"> отличия от конкурентов и понять,</a> как эффективнее презентовать товар.</p>

    <p> Сергей Трубадур считает, что страницу нужно ориентировать на ЦА вплоть до ключа. Один лендинг
        должен продавать конкретный товар определенной целевой аудитории. Если вместить несколько

        предложений или ориентироваться на несколько разных аудиторий, конверсия снизится: посадочная
        страница получится длинной, а пользователи будут уходить с нее, потому что не увидят
        решения
        именно их проблемы в самом начале. Если аудитория широкая, ее нужно сегментировать и создать

        отдельные лендинги для каждого сегмента. Например, если предлагаете комплект ювелирных
        украшений, можно сделать две посадочные страницы: для женщин, которые выбирают что-то
        себе, и
        для мужчин, которые хотят сделать подарок.</p>
</div>
<div class="product-info">
    <div class="product-contents">
        <div class="product-img">
            <img src="img/content-img1.png">
        </div>
        <div class="product-text">
            <p> Один продукт — один лендинг и одна целевая аудитория.</p>

        </div>
    </div>
</div>
<div class="structur-contents">
    <h5> Выбираем структуру </h5>
    <p> Структура лендинга — расположение модулей на странице. Она может быть разной. Например, Юлианна
        Лихачева рассказывает о следующей базовой схеме: </p>
    <p> Дескрипшен → заголовок → подстройка → продажа идеи → блоки о продукте и компании → блоки
        доверия
        → блоки осведомленности и доработки возражений В блоге конструктора сайтов Nethouse
        говорят о
        другой структуре: </p>
    <p> Оффер → лид-абзац → блок с преимуществами → блок с выгодами заказчика → дополнительная
        информация → обоснование цены → блок с отзывами</p>
    <p> Можете использовать любую структуру, но в ней обязательно должны быть:</p>
</div>
<div class="structur-menu">
    <ul>
        <li> заголовок — главное предложение, оффер;</li>
        <li> рассказ о продукте, визуальное выражение его пользы — что именно получит покупатель; </li>
        <li> конкурентные преимущества — почему нужно покупать именно у вас;</li>
        <li> обоснование цены — сколько стоит продукт и почему именно столько;</li>
        <li> конверсионные модули — кнопки «Заказать», формы обратной связи, призывы к действию.</li>
    </ul>
</div>
<div class="structur-col">
    <h5> Перед покупкой клиент находится на одной из первых четырех стадий:</h5>
    <ul>
        <li>
            1.
            <p> Не знает о проблеме, не ищет решения — лендинг может и должен быть длинным, потому что
                нужно рассказать о проблеме и ее важности, презентовать решение — ваш продукт.
            </p>
        </li>
        <li>
            2.
            <p> Знает о проблеме, но не ищет решения — текст может быть короче, потому что нужно только
                рассказать о важности решения проблемы, вашем продукте, его преимуществах, УТП.
            </p>
        </li>
        <li>
            3.
            <p> Знает о проблеме и ищет решение — лендинг может быть короче, потому что вам нужно только
                рассказать о решении и ваших преимуществах, без детального описания проблемы.
            </p>
        </li>
        <li>
            4.
            <p> Нашел решение и выбирает между несколькими предложениями — в этом случае лендинг может
                быть самым коротким, потому что можно использовать только конкурентные
                преимущества,
                сделать посадочную страницу на 2–3 экрана.</p>
        </li>
    </ul>
</div>
<div class="product-info-items">
    <div class="product-info-img">
        <img src="img/main-item6.png">
    </div>
    <div class="product-info-text">
        <p> Заголовок. Согласно исследованию Microsoft, время концентрации среднестатистического
            пользователя снизилось до 8 секунд, поэтому заголовок должен сразу привлекать
            внимание. На
            него обращают внимание в первую очередь, потому что пользователи изучают страницу по
            F- или
            Z-паттерну: об этом уже рассказывали в нашем блоге. </p>
        <p> <span> Описание продукта.</span> Подробно опишите, что получит покупатель. Если это
            услуга —
            что в нее входит, если сервис — какие возможности у него есть, если товар — в чем его
            главные особенности. Важно описывать не грубые характеристики, а говорить в
            мире клиента:
            описывать выгоды, которые получит покупатель. Например, ему не важно, какая емкость

            аккумулятора в смартфоне — ему важно, сколько он проработает без подзарядки.</p>
    </div>
</div>
<div class="experience-items-text">
    <h3> Как писать, чтобы конверсия была высокой</h3>
    <p> Не лейте воду, рассказывайте только о том, что действительно важно целевой аудитории. Не
        используйте штампы типа «высококвалифицированные специалисты», лучше предоставьте факты —
        например, то, что в вашей клинике работают врачи высшей категории. Соблюдайте структуру:
        используйте списки, подзаголовки модулей, подзаголовки в подбор, выделения — так
        дизайнеру будет
        легче создать рабочий макет, а читателю — ориентироваться в тексте. Откажитесь от оценочных
        суждений типа «качественно», «быстро»: лучше предоставьте факты, а читатель сам решит,
        хорошо
        это или плохо. Измерить эффективность лендинга можно тестированием. Если хотите что-то
        изменить,
        используйте A/B-тестирование: оно покажет, какой вариант работает лучше.</p>
</div>
<div class="more-info">
    <div class="more-info-font">
        <i class="fas fa-arrow-right"></i>
    </div>
    <div class="read-more">
        <a href="#"> <span> Читать еще: </span> «Чек-лист: 8 шагов к эффективному лендингу»</a>
    </div>
</div>
<div class="more-info-text">
    <p> Не лейте воду, рассказывайте только о том, что действительно важно целевой аудитории. Не
        используйте штампы типа «высококвалифицированные специалисты», лучше предоставьте факты —
        например, то, что в вашей клинике работают врачи высшей категории. Соблюдайте структуру:
        используйте списки, подзаголовки модулей, подзаголовки в подбор, выделения — так
        дизайнеру будет
        легче создать рабочий макет, а читателю — ориентироваться в тексте. </p>
    <p> Откажитесь от оценочных суждений типа «качественно», «быстро»: лучше предоставьте факты, а
        читатель сам решит, хорошо это или плохо. Измерить эффективность лендинга можно
        тестированием.
        Если хотите что-то изменить, используйте A/B-тестирование: оно покажет, какой вариант
        работает
        лучше.</p>
</div>