<div class="about-my-job">
    <h4> генератор вычислений на PHP </h4>
    <p> Целевая аудитория — пользователи, которые могут и хотят купить ваш продукт. </p>
    <p> Первый этап разработки лендинга — маркетинговый анализ. Его задача — узнать, кто целевая
        аудитория, чтобы определить наиболее важные для нее характеристики продукта, расписать
        отличия
        от конкурентов и понять, как эффективнее презентовать товар.</p>
    <p> Сергей Трубадур <a href="#"> считает</a> , что страницу нужно ориентировать на ЦА вплоть до
        ключа. Один лендинг
        должен продавать конкретный товар определенной целевой аудитории. Если вместить несколько
        предложений или ориентироваться на несколько разных аудиторий, конверсия снизится:
        посадочная
        страница получится длинной, а пользователи будут уходить с нее, потому что не увидят
        решения
        именно их проблемы в самом начале. Если аудитория широкая, ее нужно сегментировать и создать

        отдельные лендинги для каждого сегмента. Например, если предлагаете комплект ювелирных
        украшений, можно сделать две посадочные страницы: для женщин, которые выбирают что-то
        себе, и
        для мужчин, которые хотят сделать подарок.</p>
</div>
<div class="job-exemple">
    <div class="exemple-items">
        <div class="items-wrap">
            <div class="wrap-img">
                <img src="img/content-img1.png">
            </div>
            <div class="wrap-text">
                <p> Пример кода </p>
            </div>
        </div>
        <div class="example">
            <pre>
&lt;script&gt;
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PWG78J');
&lt;/script&gt;
            </pre>
        </div>
    </div>

</div>
<div class="my-job-info">
    <p> Не лейте воду, рассказывайте только о том, что действительно важно целевой аудитории. Не
        используйте штампы типа «высококвалифицированные специалисты», лучше предоставьте факты —
        например, то, что в вашей клинике работают врачи высшей категории. Соблюдайте структуру:
        используйте списки, подзаголовки модулей, подзаголовки в подбор, выделения — так
        дизайнеру будет
        легче создать рабочий макет, а читателю — ориентироваться в тексте. </p>
    <p> Откажитесь от оценочных суждений типа «качественно», «быстро»: лучше предоставьте факты, а
        читатель сам решит, хорошо это или плохо. Измерить эффективность лендинга можно
        тестированием.
        Если хотите что-то изменить, используйте A/B-тестирование: оно покажет, какой вариант
        работает
        лучше.</p>
</div>