<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="left-contents">
                <% include partials/crumbs.ejs %>
                <div class="background-image">
                    <div class="btn">
                        <a href="#"> интернет</a>
                    </div>
                    <div class="background-contents">
                        <p> 16 Января 2019</p>
                        <h4> Личный опыт: как искали копирайтера на бирже «Главреда»</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-comment"></i>
                                    12
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-share-alt"></i>
                                    2
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-info">
                    <div class="info-col">
                        <div class="section-background" style="background-image:url(img/main-item3.png) ">
                            <div class="btn success">
                                <a href="#"> финансы</a>
                            </div>
                            <div class="background-contents">
                                <p> 16 Января 2019</p>
                                <h4> 7 самых важных обновлений «ВКонтакте» для бизнеса за декабрь</h4>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="section-background" style="background-image:url(img/main-item2.png)">
                            <div class="btn info">
                                <a href="#"> сервисы </a>
                            </div>
                            <div class="background-contents">
                                <p> 16 Января 2019</p>
                                <h4> Как создать комикс в онлайне: обзор 5 сервисов</h4>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">
                                    <img src="img/main-item4.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир</a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им
                                            стать</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника. Прежде чем
                                        ее начинать,</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">
                                    <img src="img/main-item5.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn primary">
                                        <a href="#"> хай тек </a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> История одного автора в «Яндекс.Дзен»: шальные деньги</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника. Прежде чем
                                        ее начинать,</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">
                                    <img src="img/main-item6.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn danger">
                                        <a href="#"> креатив</a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им
                                            стать</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">
                                    <img src="img/main-item7.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир </a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Полное руководство по лид-формам в Facebook</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-wrap">
                            <div class="col-text">
                                <div class="btn wr">
                                    <a href="#"> мир </a>
                                </div>
                                <div class="col-date">
                                    <p> 16 Января 2019 </p>
                                </div>
                            </div>
                            <div class="col-content">
                                <h4>
                                    <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им стать</a>
                                </h4>
                                <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                            </div>
                            <div class="share-items">
                                <div class="comment">
                                    <a href="#">
                                        <i class="fas fa-comment"></i>
                                        12
                                    </a>

                                </div>
                                <div class="to-share">
                                    <a href="#">
                                        <i class="fas fa-share-alt"></i>
                                        2
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="info-col">
                        <div class="info-col-wrap">
                            <div class="col-text">
                                <div class="btn wr">
                                    <a href="#"> мир </a>
                                </div>
                                <div class="col-date">
                                    <p> 16 Января 2019 </p>
                                </div>
                            </div>
                            <div class="col-content">
                                <h4>
                                    <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им стать</a>
                                </h4>
                                <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                            </div>
                            <div class="share-items">
                                <div class="comment">
                                    <a href="#">
                                        <i class="fas fa-comment"></i>
                                        12
                                    </a>

                                </div>
                                <div class="to-share">
                                    <a href="#">
                                        <i class="fas fa-share-alt"></i>
                                        2
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>

</section>

<% include partials/footer.ejs %>