<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="more-vacancy">
                <% include partials/crumbs.ejs %>
                <div class="more-vacancy-items">
                    <div class="more-vacancy-info">
                        <h4> Менеджер по продажам <span> от 30 000 до 110 000 руб</span></h4>

                    </div>
                    <div class="vacancy-menu">
                        <h5> Обязанности:</h5>
                        <ul>
                            <li> Совершение холодных звонков, обработка входящих запросов;</li>
                            <li> технические консультации по поставляемым товарам, ведение деловой переписки;</li>
                            <li> проведение презентации продукции; </li>
                            <li> составление коммерческих предложений, заключение договоров;</li>
                            <li> участие в тендерах на поставку инструмента и технологического оборудования; </li>
                            <li> составление отчетности;</li>
                            <li> поиск и привлечение новых клиентов; </li>
                            <li> участие в выставках. </li>
                        </ul>
                    </div>
                    <div class="vacancy-menu">
                        <h5> Требования:</h5>
                        <ul>
                            <li> Высшее образование или средне-техническое;</li>
                            <li> опыт активных продаж сложного оборудования, станков желателен;</li>
                            <li> умение вести переговоры по телефону и при личной встрече; </li>
                            <li> владение ПК на уровне уверенного пользователя;</li>
                            <li> умение работать с возражениями, навыки управления мотивацией клиента; </li>
                            <li> навыки ведения деловых переговоров с первыми лицами компании, грамотная речь; </li>
                            <li> знание технологий и методов продаж. </li>

                        </ul>
                    </div>
                    <div class="vacancy-menu">
                        <h5> Условия:</h5>
                        <ul>
                            <li> Совершение холодных звонков, обработка входящих запросов;</li>
                            <li> технические консультации по поставляемым товарам, ведение деловой переписки;</li>
                            <li> проведение презентации продукции; </li>
                            <li> составление коммерческих предложений, заключение договоров;</li>
                            <li> участие в тендерах на поставку инструмента и технологического оборудования; </li>
                            <li> составление отчетности;</li>
                        </ul>
                    </div>
                    <div class="data">
                        <div class="data-contents">
                            <div class="data-text">
                                <h5> откликнуться на вакансию!</h5>
                            </div>
                            <div class="data-items">
                                <form>
                                    <div class="form-col">
                                        <div class="form-group">
                                            <input type="text" placeholder="Ваше имя" name="text">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Ваш е-майл" name="text">
                                        </div>
                                        <div class="form-bottom">
                                            <div class="check">
                                                <label>
                                                    <input type="checkbox">
                                                    <p> согласие с обработкой данных</p>
                                                </label>
                                            </div>
                                            <div class="data-blok">
                                                <div class="blok-img">
                                                    <a href="#">
                                                        <img src="img/Vector.png">
                                                    </a>
                                                </div>
                                                <div class="blok-text">
                                                    <a href="#"> прикрепить резюме </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-col">
                                        <div class="form-group">
                                            <textarea name="text" placeholder="сообщение"></textarea>
                                        </div>
                                        <div class="form-bottom mobile">
                                                <div class="check">
                                                    <label>
                                                        <input type="checkbox">
                                                        <p> согласие с обработкой данных</p>
                                                    </label>
                                                </div>
                                                <div class="data-blok">
                                                    <div class="blok-img">
                                                        <a href="#">
                                                            <img src="img/Vector.png">
                                                        </a>
                                                    </div>
                                                    <div class="blok-text">
                                                        <a href="#"> прикрепить резюме </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="send">
                                            <button type="submit">отправить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>