<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="experience-contents">
              <% include partials/crumbs.ejs %>
              <% include content-post.ejs %>
                <div class="data-img">
                    <img src="img/discuss.png">
                </div>
                <% include block-featured.ejs %>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>
</secton>
<% include partials/footer.ejs %>