<div class="vacancy-items">
    <div class="vacancy-info">
        <div class="btn warning">
            <a href="#"> управление </a>
        </div>
        <div class="col-date">
            <p> 16 Января 2019 </p>
        </div>
    </div>
    <div class="vacancy-info-text">
        <h5> Менеджер по продажам </h5>
        <p> Совершение холодных звонков, обработка входящих запросов. Технические консультации по
            поставляемым товарам, ведение деловой переписки. Проведение презентации продукции.
            Составление коммерческих предложений... Высшее образование или средне-техническое.
            Опыт
            активных продаж сложного оборудования, станков желателен. Умение вести переговоры по
            телефону и при личной...</p>
    </div>
    <div class="more-info">
        <div class="more-info-content">
            <a href="#"> подробнее</a>
        </div>
        <div class="to-share">
            <a href="#">
                <i class="fas fa-share-alt"></i>
                2
            </a>
        </div>
    </div>
</div>