<div class="jobs-background">
    <div class="jobs-image" style="background-image: url(img/component7.png)">
        <div class="image-components">
            <div class="btn info">
                <a href="#"> PHP </a>
            </div>
            <div class="image-info">
                <h5> генератор вычислений на php </h5>
            </div>
            <div class="text-items">
            
                    <p>Если аудитория широкая, ее нужно сегментировать и создать отдельные лендинги для
                        каждого сегмента. Например, если предлагаете комплект ювелирных украшений...</p>
                </div>
        </div>
       
    </div>
</div>