<div class="background-image">
    <div class="btn">
        <a href="#"> интернет</a>
    </div>
    <div class="background-contents">
        <p> 16 Января 2019</p>
        <h4> Личный опыт: как искали </h4>
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-comment"></i>
                    12
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-share-alt"></i>
                    2
                </a>
            </li>
        </ul>
    </div>
</div>