<div class="partners-info">
    <div class="d">
        <div class="partners-img">
            <img src="img/partners-img7.png">
        </div>
        <div class="partners-text">
            <p> название компании партнёра</p>
        </div>
    </div>
</div>