<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="my-jobs-items">
                <% include partials/crumbs.ejs %>
                <% include content-portfolio.ejs %>
                <div class="about-project">
                    <h5> ещё по теме</h5>
                </div>
                <div class="jobs-item-image">
                    <div class="jobs-background">
                        <div class="jobs-image" style="background-image: url(img/main-item5.png)">
                            <div class="image-components">
                                <div class="btn info">
                                    <a href="#"> PHP </a>
                                </div>
                                <div class="image-info">
                                    <h5> двух факторная авторизация на сайте </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs-background">
                        <div class="jobs-image" style="background-image: url(img/item-img9.png)">
                            <div class="image-components">
                                <div class="btn info">
                                    <a href="#"> PHP </a>
                                </div>
                                <div class="image-info">
                                    <h5> упрощённая методика трансляции </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>