<% include partials/header.ejs %>
<section>
    <div class="container">
        <div class="section-wrap">
            <% include partials/sidebar.ejs %>
            <div class="company-items">
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="#"> Главная </a>
                        </li>
                        <li>
                            <a href="#" class="menu-cl"> Обо мне </a>
                        </li>
                    </ul>
                </div>
                <div class="about-company">
                    <div class="company-info">
                        <div class="company-img">
                            <div class="company-info-img">
                                <img src="img/company-img.png">
                            </div>
                            <div class="img-contents">
                                <div class="content-img">
                                    <a href="#">
                                        <img src="img/summary.png">
                                    </a>
                                </div>
                                <div class="content-text">
                                    <a href="#"> скачать резюме</a>
                                </div>
                            </div>
                            <div class="company-item">
                                <h5> СЕРТИФИКАТЫ </h5>
                            </div>
                            <div class="company-img-items">
                                <div class="certificate">
                                    <a href="#certificate1" class="open-modal">
                                        <img src="img/certificate.png">
                                    </a>
                                </div>
                                <div class="certificate">
                                    <a href="#certificate1" class="open-modal">
                                        <img src="img/certificate.png">
                                    </a>
                                </div>
                                <div class="certificate">
                                    <a href="#certificate1" class="open-modal">
                                        <img src="img/certificate.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-info-text">
                        <h3> привет я никита!</h3>
                        <p> Целевая аудитория — пользователи, которые могут и хотят купить ваш продукт.</p>
                        <p> Первый этап разработки лендинга — маркетинговый анализ. Его задача — узнать, кто
                            целевая
                            аудитория, чтобы определить наиболее важные для нее характеристики продукта,
                            расписать
                            отличия от конкурентов и понять, как эффективнее презентовать товар.</p>
                        <p> Сергей Трубадур считает, что страницу нужно ориентировать на ЦА вплоть до ключа. Один
                            лендинг должен продавать конкретный товар определенной целевой аудитории. Если
                            вместить
                            несколько предложений или ориентироваться на несколько разных аудиторий, конверсия
                            снизится:
                            посадочная страница получится длинной, а пользователи будут уходить с нее, потому что
                            не
                            увидят решения именно их проблемы в самом начале. Если аудитория широкая, ее нужно
                            сегментировать и создать отдельные лендинги для каждого сегмента. Например, если
                            предлагаете
                            комплект ювелирных украшений, можно сделать две посадочные страницы: для женщин,
                            которые
                            выбирают что-то себе, и для мужчин, которые хотят сделать подарок.</p>
                        <p> Первый этап разработки лендинга — маркетинговый анализ. Его задача — узнать, кто
                            целевая
                            аудитория, чтобы определить наиболее важные для нее характеристики продукта,
                            расписать
                            отличия от конкурентов и понять, как эффективнее презентовать товар.</p>
                    </div>
                </div>
                <div class="about-project">
                    <h5> рекомендую прочитать</h5>
                </div>
                <div class="company-text">
                    <h4> Блоги</h4>
                </div>
                <div class="section-info">
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">

                                    <img src="img/main-item4.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир</a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им
                                            стать</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">

                                    <img src="img/main-item5.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир </a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> История одного автора в «Яндекс.Дзен»: шальные деньги</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">

                                    <img src="img/main-item6.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир</a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Кто такой СМО, или Шпаргалка для тех, кто его ищет / хочет им
                                            стать</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-col">
                        <div class="info-col-item">
                            <div class="info-col-img">
                                <a href="#">

                                    <img src="img/main-item7.png">
                                </a>
                            </div>
                            <div class="info-col-text">
                                <div class="col-text">
                                    <div class="btn warning">
                                        <a href="#"> мир </a>
                                    </div>
                                    <div class="col-date">
                                        <p> 16 Января 2019 </p>
                                    </div>
                                </div>
                                <div class="col-content">
                                    <h4>
                                        <a href="#"> Полное руководство по лид-формам в Facebook</a>
                                    </h4>
                                    <p> Деловая переписка – простой способ оценить адекватность собеседника.</p>
                                </div>
                                <div class="share-items">
                                    <div class="comment">
                                        <a href="#">
                                            <i class="fas fa-comment"></i>
                                            12
                                        </a>

                                    </div>
                                    <div class="to-share">
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i>
                                            2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobs-item-image">
                    <div class="jobs-background">
                        <div class="jobs-image" style="background-image: url(img/main-item5.png)">
                            <div class="image-components">
                                <div class="btn info">
                                    <a href="#"> PHP </a>
                                </div>
                                <div class="image-info">
                                    <h5> двух факторная авторизация на сайте </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs-background">
                        <div class="jobs-image" style="background-image: url(img/item-img9.png)">
                            <div class="image-components">
                                <div class="btn info">
                                    <a href="#"> PHP </a>
                                </div>
                                <div class="image-info">
                                    <h5> упрощённая методика трансляции </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include partials/pagination.ejs %>
            </div>
        </div>
    </div>
    <div class="modal" id="certificate1">
        <div class="modal-img">
            <img src="img/certificate1.png">
        </div>

    </div>
</section>
<% include partials/footer.ejs %>