.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1920px;
}
.main-items {
  padding-right: 25px;
  max-width: 240px;
  padding-top: 28px;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.15);
  .section-menu {
    ul {
      li {
        list-style: none;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        transition: all 0.5s;
        max-height: 40px;
        padding-bottom: 30px;
        list-style: none;
        color: #000000;
        font-size: 14px;
        padding: 10px 0;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        &.active {
          max-height: 1000px;
          a {
            transition: all 0.5s;
            border: 1px solid #3c424e;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            align-items: center;
            color: #3c424e;
            text-transform: uppercase;
            align-items: center;
            max-width: 200px;

            i {
              color: #3c424e;
              font-size: 20px;
            }
          }
          li {
            padding-left: 20px;
          }
        }

        a {
          align-items: center;
          text-decoration: none;
          display: flex;
          color: rgba(24, 24, 24, 0.5);
          font-size: 15px;
          padding: 10px 0;
          font-weight: bold;
          text-transform: uppercase;

          i {
            color: rgba(24, 24, 24, 0.5);
            font-size: 15px;
            padding-left: 5px;
          }
        }
      }
    }
  }
  form {
    padding-top: 40px;
    .form-group {
      input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        position: relative;

        padding-left: 25px;
        width: 100%;
      }
      label {
        position: absolute;
        left: 15px;
        top: -3px;
        i {
          color: #3c424e;
          font-size: 20px;
        }
      }
    }
  }
  .main-image {
    padding-top: 100px;
    display: inline-block;
    margin-left: -15px;
    .content-image {
      width: 212px;
      font-size: 0;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .question {
      display: flex;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
      height: 75px;
      .question-img {
        padding-right: 12px;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .question-text {
        p {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }
}
.btn {
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #61bcbc;
    padding: 5px 15px;
    border-radius: 3px;
  }
  &.success {
    a {
      background-color: #27ae60;
    }
  }
  &.info {
    a {
      background-color: #2d9cdb;
    }
  }
  &.warning {
    a {
      background: #997bb8;
      padding: 5px 29px;
    }
  }
  &.primary {
    a {
      background-color: #1b4f9d;
    }
  }
  &.danger {
    a {
      background-color: #eb5757;
    }
  }
  &.wr {
    a {
      background: #997bb8;
    }
  }
  &.green {
    a {
      background: #61bcbc;
    }
  }
}
.share-items {
  display: flex;
  padding-top: 30px;
  .comment {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 16px;
      color: #000000;
      padding-left: 6px;
      i {
        font-size: 13px;
      }
    }
  }
  .to-share {
    display: flex;
    padding-left: 25px;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 16px;
      color: #000000;
      padding-left: 6px;
      i {
        font-size: 16px;
      }
    }
  }
}
.pagination {
  padding-top: 31px;
  padding-bottom: 70px;
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 18px;
      margin: 0 11px;
      color: #3c424e;
      font-weight: 300;
      &.border {
        border: 1px solid rgba(60, 66, 78, 0.5);
        padding: 10px 14px;
      }
    }
    span {
      font-weight: bold;
      color: #3c424e;
      margin: 0 11px;
    }
  }
}
.main-menu {
  padding-bottom: 12px;
  ul {
    display: flex;
    margin-left: -9px;
    li {
      list-style: none;
      position: relative;
      padding: 0 9px;
      &:after {
        content: "/";
        position: absolute;
        top: 0;
        left: 100%;
        color: rgba(0, 0, 0, 0.5);
      }
      &:last-child:after {
        display: none;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 300;
        font-family: "Roboto Lt";
        &.menu-cl {
          color: #000000;
        }
      }
    }
  }
}
.tour-modal {
  .modal-content {
    max-width: 795px;
    height: 786px;
    padding: 10px;
    user-select: none;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
  &.active {
    display: flex;
  }
  .modal-content {
    background-color: #ffffff;
    padding: 35px 70px 70px;
    position: relative;
    width: 100%;
    max-width: 615px;
    .write-item {
      h5 {
        text-transform: uppercase;
        color: #3c424e;
        font-weight: bold;
        font-size: 35px;
        display: flex;
        justify-content: center;
      }
    }
    form {
      .form-block {
        padding-top: 25px;
        .form-group {
          padding: 10px 0;
          input {
            width: 100%;
            padding: 20px 15px;
            color: #000000;
            font-weight: bold;
            &::placeholder {
              color: #000000;
              font-weight: bold;
              font-size: 15px;
              text-transform: uppercase;
              font-family: "Roboto Condensed";
            }
          }
          textarea {
            width: 100%;
            height: 160px;
            font-weight: bold;
            resize: none;
            border: 1px solid rgba(0, 0, 0, 0.25);
            padding: 20px 15px;
            &::placeholder {
              color: #000000;
              font-size: 15px;
              font-weight: bold;
              text-transform: uppercase;
              font-family: "Roboto Condensed";
            }
          }
        }
      }
    }
    .check {
      padding-top: 35px;
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 16px;
          color: #000000;
          padding-left: 12px;
        }
      }
    }
    .send {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      button {
        cursor: pointer;
        border: none;
        font-weight: bold;
        font-size: 14px;
        color: #ffffff;
        background-color: #3c424e;
        padding: 12px 50px;
        text-transform: uppercase;
      }
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      a {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.modal-img {
  width: 540px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.section-wrap {
  display: flex;
}
