@media #{$xs} {
  //----------------------------------------------article------------------------------------------------------------------------
  .modal .modal-content {
    padding: 35px 25px 70px;
  }
  .modal .modal-content .write-item h5 {
    font-size: 24px;
  }
  .main-items .wrap-menu {
    flex: 1;
  }
  .main-items {
    padding-right: 0;
  }
  .header-wrap .header-info .wrap-items {
    justify-content: space-between;
  }
  .header-wrap .header-info .header-item .toggle {
    display: block;
  }
  .header-wrap .header-info .header-item .header-menu ul li a:hover {
    background-color: transparent;
    color: #ffffff;
  }

  .header-wrap .header-info .header-item .header-menu ul {
    display: block;
  }
  .header-wrap {
    position: relative;
  }
  .header-wrap .header-info .header-item .header-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    &.active {
      max-height: 500px;
    }
  }
  .main-menu ul li a {
    font-size: 11px;
  }
  .section-wrap .experience-contents {
    padding-left: 0;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text {
    padding-left: 0;
  }
  .section-wrap .experience-contents .content-background .content-items .background-info h2 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .content-background .web a {
    display: none;
  }
  .section-wrap .experience-contents .content-background .content-items .background-info h5 {
    font-size: 14px;
  }
  .section-wrap .experience-contents .content-background .content-items .content-info p {
    font-size: 12px;
  }
  .section-wrap .experience-contents .experience-info h4 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .experience-info p {
    padding-top: 20px;
    font-size: 11px;
  }
  .section-wrap .experience-contents .experience-info p a {
    font-size: 11px;
  }
  .section-wrap .experience-contents .product-info {
    padding-top: 30px;
  }
  .section-wrap .experience-contents .product-info .product-contents .product-text p {
    font-size: 12px;
  }
  .section-wrap .experience-contents .product-info .product-contents {
    padding: 50px 0;
  }
  .section-wrap .experience-contents .product-info .product-contents .product-img img {
    width: 27px;
    height: 25px;
  }
  .section-wrap .experience-contents .structur-contents h5 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .structur-contents p {
    font-size: 11px;
    padding-top: 15px;
  }
  .section-wrap .experience-contents .structur-menu ul li {
    font-size: 12px;
  }
  .section-wrap .experience-contents .structur-col h5 {
    font-size: 14px;
  }
  .section-wrap .experience-contents .structur-col ul li p {
    font-size: 10px;
  }
  .section-wrap .experience-contents .structur-col ul li {
    font-size: 12px;
  }
  .section-wrap .experience-contents .product-info-items {
    display: block;
  }
  .section-wrap .experience-contents .product-info-items .product-info-img {
    width: 100%;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text {
    max-width: 100%;
    padding-left: 0;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text p {
    font-size: 11px;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text p span {
    font-size: 11px;
  }
  .section-wrap .experience-contents .experience-items-text h3 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .experience-items-text p {
    font-size: 11px;
  }
  .section-wrap .experience-contents .more-info .more-info-font i {
    font-size: 12px;
    padding: 7px 10px;
  }
  .section-wrap .experience-contents .more-info .read-more a span {
    font-size: 10px;
  }
  .section-wrap .experience-contents .more-info .read-more a {
    font-size: 10px;
  }
  .section-wrap .experience-contents .more-info-text p {
    font-size: 11px;
  }
  .section-wrap .experience-contents .about-project h5 {
    font-size: 16px;
    padding: 0 15px;
  }
  .section-wrap .experience-contents .section-info {
    display: block;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item {
    display: block;
  }
  .section-wrap .experience-contents .section-info .info-col {
    max-width: 100%;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-text .col-date p {
    font-size: 14px;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-text {
    padding-top: 10px;
  }
  .section-wrap .experience-contents .section-info .info-col {
    padding: 15px 0;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 12px;
  }
  //-----------------------------------------------article--------------------------------------------------------------------------
  //-----------------------------------------------vacancy---------------------------------------------------------------------
  section .section-wrap .vacancy-contents .all-vacancy {
    display: block;
  }
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-header h4 {
    font-size: 20px;
  }
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-col select {
    width: 100%;
  }
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-col {
    padding-top: 15px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text h5 {
    font-size: 15px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text p {
    font-size: 12px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .more-info .more-info-content a {
    padding: 5px 10px;
    font-size: 12px;
  }
  .section-wrap .vacancy-contents {
    padding-left: 0;
  }
  //---------------------------------------------------vacancy------------------------------------------------------------------
  //------------------------------------------------partners-------------------------------------------------------------------------
  section .section-wrap .partners-items .partners-contents {
    display: block;
  }
  section .section-wrap .partners-items .partners-contents .partners-info {
    max-width: 100%;
  }
  section .section-wrap .partners-items .partners-contents .partners-info .d .partners-img img {
    max-width: 100%;
  }
  section .section-wrap .partners-items .partners-contents .partners-info .d p {
    font-size: 11px;
  }
  .section-wrap .partners-items {
    padding-left: 0;
  }
  .section-wrap .partners-items .item {
    padding-left: 0;
  }
  .section-wrap .partners-items .partners-contents {
    padding-left: 0;
  }
  section .section-wrap .partners-items .partners-contents .partners-info {
    padding: 10px 0;
  }
  //---------------------------------------------------partners-----------------------------------------------------------------------
  //------------------------------------------------my-jobs-------------------------------------------------------------------------
  .section-wrap .jobs-item-image .jobs-background {
    padding: 10px 0;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    display: block;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    padding-left: 10px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .items-wrap .wrap-text p {
    font-size: 15px;
  }
  .example {
    max-width: 200px;
    overflow-y: auto;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    font-size: 10px;
  }
  .section-wrap .my-jobs-items .about-my-job h4 {
    font-size: 18px;
  }

  .section-wrap .my-jobs-items .about-my-job p {
    font-size: 11px;
  }
  .section-wrap .my-job-info p {
    font-size: 14px;
  }
  .section-wrap .my-jobs-items .about-my-job p a {
    font-size: 14px;
  }
  .section-wrap .about-project h5 {
    font-size: 17px;
    padding: 0 10px;
  }
  .section-wrap .jobs-item-image {
    display: block;
  }
  .section-wrap .jobs-item-image .jobs-background {
    max-width: 100%;
  }
  .section-wrap .my-jobs-items {
    padding-left: 0;
  }
  //-----------------------------------------------my-jobs--------------------------------------------------------------------------
  //------------------------------------------------------more-vacancy--------------------------------------------------------------
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-text h5 {
    font-size: 15px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents {
    padding-right: 0;
    flex-wrap: wrap;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .check label p {
    font-size: 14px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .data-blok {
    padding-left: 0;
    padding-top: 15px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .send {
    padding-left: 0;
    padding-top: 35px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 {
    font-size: 22px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 span {
    font-size: 22px;
    padding-top: 15px;
  }
  .section-wrap .more-vacancy .more-vacancy-items .vacancy-menu ul li {
    font-size: 14px;
  }

  section .section-wrap .more-vacancy .more-vacancy-items {
    padding-left: 0;
  }
  .section-wrap .more-vacancy {
    padding-left: 0;
  }
  .main-items .main-image {
    display: none;
  }
  //-------------------------------------------------------more-vacancy-------------------------------------------------------------
  //----------------------------------------------------jobs------------------------------------------------------------------------
  .section-wrap .jobs-contents {
    padding-left: 0;
  }
  .section-wrap .jobs-contents .jobs-wrap {
    display: block;
  }
  .section-wrap .jobs-contents .jobs-wrap .jobs-col select {
    width: 100%;
  }
  .section-wrap .jobs-contents .jobs-wrap .job-items p {
    font-size: 22px;
    padding-top: 5px;
  }
  .section-wrap .jobs-contents .jobs-wrap .jobs-col {
    padding-top: 15px;
  }
  .section-wrap .jobs-contents .jobs-image-items {
    display: block;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background {
    max-width: 100%;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items h4 {
    font-size: 15px;
    padding-top: 5px;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items h5 {
    font-size: 10px;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items p {
    font-size: 10px;
    padding-top: 10px;
  }
  //----------------------------------------------------jobs----------------------------------------------------------------------
  //------------------------------------------------------company-------------------------------------------------------------------
  .section-wrap .company-items {
    padding-left: 0;
  }
  .section-wrap .company-items .about-company {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-text {
    padding-top: 10px;
  }
  .section-wrap .company-items .about-company .company-info .company-img .company-info-img {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info .company-img .img-contents {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info-text {
    padding-left: 0;
  }
  .section-wrap .company-items .about-company .company-info-text h3 {
    font-size: 30px;
  }
  .section-wrap .company-items .about-company .company-info-text p {
    font-size: 10px;
  }
  .section-wrap .company-items .about-project h5 {
    font-size: 18px;
    padding: 0 5px;
  }
  .section-wrap .company-items .section-info {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col {
    max-width: 100%;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-img {
    width: 100%;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text {
    padding-left: 0;
  }
  .section-wrap .company-items .jobs-item-image {
    display: block;
  }
  .section-wrap .company-items .jobs-item-image .jobs-background {
    max-width: 100%;
  }
  .section-wrap .company-items .jobs-item-image .jobs-background {
    padding: 10px 0;
  }

  //-------------------------------------------------------company------------------------------------------------------------------
  //-------------------------------------------------------homepage------------------------------------------------------------------
  section .section-wrap {
    display: block;
  }
  .section-wrap .left-contents {
    padding-left: 0;
  }
  .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text {
    padding-left: 0;
  }

  .main-items {
    max-width: 100%;
    display: flex;
  }
  .main-items {
    box-shadow: none;
  }
  .header-wrap .header-info .wrap-items {
    padding-top: 15px;
  }
  .header-wrap .header-info {
    display: block;
  }
  .header-wrap .header-info .header-item .header-menu {
    padding-left: 0;
  }

  .header-wrap .header-info .header-item .header-menu ul li a {
    font-size: 15px;
    padding: 0;
  }
  .header-wrap .header-info .header-item .logo {
    width: 70px;
  }
  .header-wrap .header-info .header-item .header-menu ul li {
    padding: 0 15px 10px;
  }
  .header-wrap .header-info .wrap-items .web-items ul li a i {
    font-size: 15px;
  }
  .header-wrap .header-info .wrap-items .languages ul li a {
    font-size: 15px;
  }
  .header-wrap .header-info .wrap-items .languages ul li {
    padding: 0 5px;
  }
  .header-wrap .header-info .wrap-items .web-items ul li {
    padding: 0 6px;
  }
  section .section-wrap .left-contents .background-image .background-contents h4 {
    font-size: 20px;
  }
  section .section-wrap .left-contents .background-image .background-contents p {
    font-size: 12px;
  }
  section .section-wrap .left-contents .background-image {
    padding: 20px;
  }
  section .section-wrap .left-contents .section-info {
    display: block;
  }
  section .section-wrap .left-contents .section-info .info-col {
    max-width: 100%;
  }
  section .section-wrap .left-contents .section-info .info-col .section-background {
    padding: 10px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    h4 {
    font-size: 20px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item {
    display: block;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-img {
    width: 100%;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-text {
    padding-top: 10px;
  }
  footer .footer-menu {
    flex-wrap: wrap;
  }
  footer .footer-menu .footer-logo .logo-items .logo-img {
    width: 60px;
  }
  footer .footer-menu .footer-logo .footer-web-menu ul li a i {
    font-size: 12px;
  }
  footer .footer-menu .footer-logo .footer-web-menu ul li {
    padding: 0 6px;
  }
  footer .footer-menu .footer-menu-items .footer-menu ul li a {
    font-size: 11px;
  }
  footer .footer-menu .footer-text .text-items p {
    font-size: 10px;
  }
  footer .footer-menu .footer-text .footer-text-items h4 {
    font-size: 12px;
  }
  footer .footer-menu .footer-text {
    max-width: 100px;
  }
  footer .footer-menu .footer-text {
    max-width: 100px;
    padding-top: 15px;
  }
  footer .footer-menu .footer-text {
    padding-right: 0;
  }

  //-----------------------------------------------------------------------------------homepage----------------------------------------------
}
@media #{$sm} {
  //--------------------------------------------------------article----------------------------------------------------------------------
  .header-wrap .header-info .header-item .header-menu {
    padding-left: 0;
  }
  .section-wrap .experience-contents {
    padding-left: 0;
  }
  .section-wrap .experience-contents .content-background .content-items .background-info h2 {
    font-size: 22px;
  }
  .section-wrap .experience-contents .content-background .content-items .content-info p {
    font-size: 14px;
  }

  .section-wrap .experience-contents .experience-info h4 {
    font-size: 20px;
  }
  .section-wrap .experience-contents .product-info {
    padding-top: 70px;
  }
  .section-wrap .experience-contents .experience-info p {
    font-size: 13px;
  }
  .section-wrap .experience-contents .experience-info p a {
    font-size: 13px;
  }
  .section-wrap .experience-contents .product-info .product-contents .product-text p {
    font-size: 14px;
  }
  .section-wrap .experience-contents .structur-contents h5 {
    font-size: 20px;
  }
  .section-wrap .experience-contents .structur-contents p {
    font-size: 13px;
  }
  .section-wrap .experience-contents .structur-menu ul li {
    font-size: 14px;
  }
  .section-wrap .experience-contents .structur-col h5 {
    font-size: 14px;
  }
  .section-wrap .experience-contents .structur-col ul li p {
    font-size: 13px;
  }
  .section-wrap .experience-contents .structur-col ul li {
    font-size: 14px;
  }
  .section-wrap .experience-contents .product-info-items {
    display: block;
  }
  .section-wrap .experience-contents .product-info-items .product-info-img {
    width: 100%;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text {
    max-width: 100%;
    padding-left: 0;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text p {
    font-size: 15px;
  }
  .section-wrap .experience-contents .experience-items-text h3 {
    font-size: 20px;
  }
  .section-wrap .experience-contents .experience-items-text p {
    font-size: 14px;
  }
  .section-wrap .experience-contents .more-info .more-info-font i {
    font-size: 18px;
  }
  .section-wrap .experience-contents .more-info .read-more a span {
    font-size: 14px;
  }
  .section-wrap .experience-contents .more-info .read-more a {
    font-size: 14px;
  }
  .section-wrap .experience-contents .about-project h5 {
    font-size: 17px;
    padding: 0 15px;
  }
  .section-wrap .experience-contents .section-info {
    display: block;
  }
  .section-wrap .experience-contents .section-info .info-col {
    max-width: 100%;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 14px;
  }
  .section-wrap .experience-contents .section-info .info-col {
    padding: 10px 0;
  }
  //------------------------------------------------------------article------------------------------------------------------------------
  //----------------------------------------------------------vacancy----------------------------------------------------------------------
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-header h4 {
    font-size: 20px;
  }
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-col select {
    width: 175px;
    font-size: 12px;
    height: 35px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text h5 {
    font-size: 15px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text p {
    font-size: 14px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .more-info .more-info-content a {
    padding: 8px 18px;
    font-size: 12px;
  }
  //-----------------------------------------------------------vacancy--------------------------------------------------------------------
  //----------------------------------------------------------partners------------------------------------------------------------------
  section .section-wrap .partners-items .partners-contents {
    display: block;
  }
  section .section-wrap .partners-items .partners-contents .partners-info {
    max-width: 100%;
  }
  //------------------------------------------------------partners--------------------------------------------------------------------------
  //---------------------------------------------------------my-jobs----------------------------------------------------------------
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    display: block;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    padding-left: 20px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    font-size: 11px;
  }
  .section-wrap .my-jobs-items .about-my-job h4 {
    font-size: 25px;
  }
  .section-wrap .my-jobs-items .about-my-job p {
    font-size: 14px;
  }
  .section-wrap .my-jobs-items .about-my-job p a {
    font-size: 14px;
  }
  .section-wrap .my-job-info p {
    font-size: 14px;
  }
  .section-wrap .about-project h5 {
    font-size: 17px;
    padding: 0 5px;
  }
  .section-wrap .jobs-item-image .jobs-background .jobs-image .image-components h5 {
    font-size: 15px;
  }
  //----------------------------------------------------------------my-jobs--------------------------------------------------------
  //------------------------------------------------------------------more-vacancy---------------------------------------------------
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents {
    padding-right: 0;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .data-blok {
    padding-left: 10px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .check label p {
    padding-left: 5px;
    font-size: 12px;
  }
  section
    .section-wrap
    .more-vacancy
    .more-vacancy-items
    .data
    .data-contents
    .vacancy-data-contents
    .data-blok
    .blok-text
    a {
    font-size: 12px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .send a {
    font-size: 12px;
    padding: 20px 40px;
  }
  section
    .section-wrap
    .more-vacancy
    .more-vacancy-items
    .data
    .data-contents
    .vacancy-data-contents
    .data-blok
    .blok-img
    img {
    width: 17px;
    height: 20px;
  }
  section
    .section-wrap
    .more-vacancy
    .more-vacancy-items
    .data
    .data-contents
    .data-items
    form
    .form-blok
    .form-group
    input {
    width: 470px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 {
    font-size: 38px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items {
    padding-left: 0;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .data-blok {
    padding-top: 0;
  }

  //-----------------------------------------------------------------more-vacancy-----------------------------------------------------
  //-------------------------------------------------------------------jobs-----------------------------------------------------------
  .section-wrap .jobs-contents .jobs-wrap .job-items h4 {
    font-size: 20px;
  }
  .section-wrap .jobs-contents .jobs-wrap .job-items p {
    font-size: 15px;
    padding-top: 5px;
  }
  .section-wrap .jobs-contents .jobs-wrap .jobs-col select {
    width: 195px;
    height: 35px;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items h4 {
    font-size: 15px;
    padding-top: 10px;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items p {
    font-size: 11px;
    padding-top: 10px;
  }
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .image-components h5 {
    font-size: 19px;
  }
  //------------------------------------------------------------------jobs---------------------------------------------------------------
  //--------------------------------------------------------------------company---------------------------------------------------------
  .section-wrap .company-items .about-company {
    display: block;
  }
  .section-wrap .company-items .about-company .company-info .company-img .company-info-img {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info .company-img .img-contents {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info-text {
    padding-left: 0;
  }
  .section-wrap .company-items .about-company .company-info-text h3 {
    display: flex;
    justify-content: center;
  }
  .section-wrap .company-items .about-company .company-info-text p {
    font-size: 12px;
  }
  .section-wrap .company-items .about-project h5 {
    padding: 0 8px;
  }

  .section-wrap .company-items .section-info .info-col .info-col-item {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 13px;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 14px;
  }

  //----------------------------------------------------------------------company-------------------------------------------------------
  //------------------------------------------------------------------homepage---------------------------------------------------------
  section .section-wrap {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-text {
    padding-top: 10px;
  }
  .section-wrap .left-contents .section-info .info-col .info-col-item {
    height: 100%;
  }
  .section-wrap .left-contents {
    padding-left: 0;
  }
  .main-items {
    max-width: 100%;
    display: flex;
  }
  .main-items .main-image {
    padding-top: 0;
    margin: 0;
    padding-left: 100px;
  }
  .wrap-menu {
    display: flex;
  }
  .main-items {
    box-shadow: none;
    justify-content: center;
  }
  .header-wrap .header-info {
    display: block;
  }
  .header-wrap .header-info .header-item .header-menu ul li a {
    font-size: 13px;
    padding: 0;
  }
  .header-wrap .header-info .header-item .header-menu ul li {
    padding: 0 5px;
  }
  .header-wrap .header-info .wrap-items {
    justify-content: space-between;
    padding-top: 15px;
  }
  section .section-wrap .left-contents .background-image .background-contents  h4 {
    font-size: 27px;
  }
  section .section-wrap .left-contents .background-image .background-contents  p {
    font-size: 15px;
  }
  section .section-wrap .left-contents .background-image .background-contents {
    padding-top: 55px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    
    h4 {
    font-size: 16px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    
    p {
    font-size: 13px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-text {
    display: block;
  }
  section .section-wrap .left-contents .section-info .info-col .col-text .col-date {
    padding-top: 10px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-text .col-date {
    padding-left: 0;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 15px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 15px;
  }
  footer .footer-menu {
    flex-wrap: wrap;
  }
  footer .footer-menu .footer-text {
    max-width: 265px;
    padding-top: 15px;
  }
  footer .footer-menu .footer-text .text-items p {
    font-size: 17px;
  }

  //--------------------------------------------------------------------homepage-------------------------------------------------------------
}
@media (max-width: 767px) {
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form {
    display: block;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form .form-col {
    padding: 0;
    max-width: 100%;
  }
  .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form .form-col .form-bottom {
    display: none;
    &.mobile {
      display: flex;
      padding-top: 0;
      padding-bottom: 20px;
    }
  }
  .section-wrap .more-vacancy .more-vacancy-items .data .data-contents {
    padding: 27px 30px 59px;
  }
}
@media #{$md} {
  //-----------------------------------------------------------------------article------------------------------------------------------
  .section-wrap .experience-contents .content-background .web {
    right: 25px;
    top: 20px;
  }
  .section-wrap .experience-contents .content-background .content-items .content-info p {
    font-size: 17px;
  }
  .section-wrap .experience-contents .content-background .content-items .background-info h2 {
    font-size: 28px;
  }
  .section-wrap .experience-contents .section-info {
    display: block;
  }
  .section-wrap .experience-contents .section-info .info-col {
    max-width: 100%;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 15px;
  }
  .section-wrap .experience-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 15px;
  }
  .section-wrap .experience-contents .product-info-items {
    display: block;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text {
    max-width: 100%;
    padding-left: 0;
  }
  .section-wrap .experience-contents .product-info-items .product-info-img {
    width: 100%;
  }
  .section-wrap .experience-contents .structur-contents h5 {
    font-size: 30px;
  }
  .section-wrap .experience-contents .product-info .product-contents .product-text p {
    font-size: 14px;
  }
  .section-wrap .experience-contents .experience-items-text h3 {
    font-size: 30px;
  }
  .section-wrap .experience-contents .more-info .read-more a {
    font-size: 15px;
  }
  .section-wrap .experience-contents .more-info .read-more a span {
    font-size: 15px;
  }
  .section-wrap .experience-contents .about-project h5 {
    padding: 0 15px;
  }
  .section-wrap .experience-contents .section-info .info-col {
    padding: 10px 0;
  }
  //-------------------------------------------------------------------------article------------------------------------------------------
  //-----------------------------------------------------------vacancy---------------------------------------------------------------
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-header h4 {
    font-size: 25px;
  }
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-col select {
    width: 195px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text h5 {
    font-size: 15px;
  }
  section .section-wrap .vacancy-contents .vacancy-items .more-info .more-info-content a {
    padding: 10px 20px;
  }
  //-------------------------------------------------------------------vacancy-------------------------------------------------------
  //---------------------------------------------------------partners--------------------------------------------------------------------
  section .section-wrap .partners-items .partners-contents {
    display: block;
  }
  section .section-wrap .partners-items .partners-contents .partners-info {
    max-width: 100%;
  }
  section .section-wrap .vacancy-contents .vacancy-items .vacancy-info-text p {
    font-size: 15px;
  }
  //-----------------------------------------------------partners-----------------------------------------------------------------------
  //------------------------------------------------------------my-jobs--------------------------------------------------------------------
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    padding-left: 10px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .items-wrap .wrap-text p {
    font-size: 10px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    padding-right: 0;
    font-size: 10px;
  }
  .section-wrap .jobs-item-image .jobs-background .jobs-image .image-components h5 {
    font-size: 19px;
  }
  .section-wrap .about-project h5 {
    padding: 0 10px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .items-wrap .wrap-text {
    padding-left: 5px;
  }
  //----------------------------------------------------------my-jobs-------------------------------------------------------------------------
  //------------------------------------------------------------more-company------------------------------------------------------------
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form {
    display: block;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form .form-col {
    padding: 0;
    max-width: 100%;
  }
  .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form .form-col .form-bottom {
    display: none;
    &.mobile {
      display: flex;
      padding-top: 0;
      padding-bottom: 20px;
    }
  }

  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-text {
    justify-content: center;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .data-blok {
    padding-left: 30px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .send a {
    padding: 15px 25px;
    font-size: 13px;
  }
  section
    .section-wrap
    .more-vacancy
    .more-vacancy-items
    .data
    .data-contents
    .vacancy-data-contents
    .data-blok
    .blok-text
    a {
    font-size: 12px;
  }
  section
    .section-wrap
    .more-vacancy
    .more-vacancy-items
    .data
    .data-contents
    .vacancy-data-contents
    .data-blok
    .blok-img
    img {
    width: 17px;
    height: 21px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .check label p {
    font-size: 12px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents {
    padding-right: 0;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 {
    font-size: 38px;
  }

  //--------------------------------------------------------------more-company-----------------------------------------------------------
  //----------------------------------------------------------jobs------------------------------------------------------------------------
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items p {
    font-size: 12px;
    padding-top: 5px;
  }
  .section-wrap .jobs-contents .jobs-wrap .job-items h4 {
    font-size: 25px;
  }
  .section-wrap .jobs-contents .jobs-wrap .job-items p {
    font-size: 18px;
  }
  .section-wrap .jobs-contents .jobs-wrap .jobs-col select {
    width: 195px;
    height: 35px;
  }
  //----------------------------------------------------------jobs-----------------------------------------------------------------------
  //---------------------------------------------------------company----------------------------------------------------------------------
  .section-wrap .company-items .about-company {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-text {
    padding-top: 10px;
  }
  .section-wrap .company-items .about-company .company-info .company-img .img-contents {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info .company-img .company-info-img {
    width: 100%;
  }
  .section-wrap .company-items .about-company .company-info-text p {
    font-size: 11px;
  }
  .section-wrap .company-items .about-project h5 {
    padding: 0 15px;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item {
    display: block;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text {
    padding: 0;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 14px;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 15px;
  }

  //--------------------------------------------------------company-------------------------------------------------------------------------
  //----------------------------------------------------------homepage-------------------------------------------------------------------

  .header-wrap .header-info .wrap-items .web-items ul li a i {
    font-size: 18px;
  }
  .header-wrap .header-info .header-item .logo {
    width: 85px;
  }
  .header-wrap .header-info .header-item .header-menu {
    padding-left: 90px;
  }
  .header-wrap .header-info .wrap-items .languages ul li a.active {
    font-size: 14px;
  }
  .header-wrap .header-info .wrap-items .write-btn a {
    font-size: 11px;
    padding: 5px 8px;
  }
  .header-wrap .header-info .header-item .header-menu {
    padding-left: 25px;
  }
  .header-wrap .header-info .header-item .header-menu ul li a {
    font-size: 11px;
    padding: 5px 5px 50px;
  }
  section .section-wrap .left-contents .background-image .background-contents  h4 {
    font-size: 25px;
  }
  section .section-wrap .left-contents .background-image .background-contents  p {
    font-size: 15px;
  }
  section .section-wrap .left-contents .background-image .background-contents {
    padding-top: 70px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    
    h4 {
    font-size: 15px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    
    p {
    font-size: 12px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-text {
    display: block;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-text .col-date p {
    padding-top: 10px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 15px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 13px;
  }
  footer .footer-menu .footer-text {
    padding-right: 0;
  }
  footer .footer-menu .footer-text {
    max-width: 265px;
  }
  footer .footer-menu .footer-text .footer-text-items h4 {
    font-size: 12px;
  }
  footer .footer-menu .footer-menu-items .footer-menu ul li a {
    font-size: 12px;
  }
  footer .footer-menu .footer-logo .logo-items .logo-img {
    width: 75px;
  }
  footer .footer-menu .footer-menu-items .footer-info-text p {
    font-size: 8px;
    max-width: 200px;
  }
  footer .footer-menu .footer-logo .footer-web-menu ul li a i {
    font-size: 20px;
  }
  .footer-menu-items {
    padding-left: 20px;
  }

  //----------------------------------------------------------homepage-------------------------------------------------------------------
}
@media #{$lg} {
  //-------------------------------------------------------------------article---------------------------------------------------------
  .section-wrap .experience-contents .section-info {
    display: block;
  }
  .section-wrap .experience-contents .section-info .info-col {
    max-width: 100%;
    padding: 10px 0;
  }
  .section-wrap .experience-contents .product-info-items .product-info-text p {
    font-size: 15px;
  }
  .section-wrap .experience-contents .content-background .content-items .background-info h2 {
    font-size: 35px;
  }
  .section-wrap .experience-contents .content-background .web {
    padding: 40px 20px;
  }
  //--------------------------------------------------------------------article--------------------------------------------------------------
  //--------------------------------------------------------------vacancy----------------------------------------------------------
  section .section-wrap .vacancy-contents .all-vacancy .vacancy-header h4 {
    font-size: 30px;
  }
  //---------------------------------------------------------vacancy------------------------------------------------------------------
  //---------------------------------------------------------partners-----------------------------------------------------------------
  section .section-wrap .partners-items .partners-contents .partners-info {
    flex: 0 0 50%;
    max-width: 50%;
  }
  //-------------------------------------------------------------partners---------------------------------------------------------------
  //-----------------------------------------------------------my-jobs-------------------------------------------------------------------
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    font-size: 13px;
    padding-right: 15px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items {
    padding-left: 11px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .items-wrap .wrap-text p {
    font-size: 17px;
  }
  //-----------------------------------------------------------my-jobs--------------------------------------------------------------------
  //--------------------------------------------------------------more-vacancy--------------------------------------------------------------
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-text h5 {
    font-size: 25px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items {
    justify-content: flex-start;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents {
    padding-right: 0;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .check label p {
    font-size: 15px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents .send a {
    padding: 20px 35px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 span {
    font-size: 30px;
  }
  section .section-wrap .more-vacancy .more-vacancy-items .more-vacancy-info h4 {
    font-size: 30px;
  }
  .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .data-items form .form-col .form-bottom {
    display: block;
  }
  //--------------------------------------------------------------more-vacancy------------------------------------------------------------------
  //--------------------------------------------------------------jobs--------------------------------------------------------------------
  .section-wrap .jobs-contents .jobs-image-items .jobs-background .jobs-image .text-items p {
    padding-top: 15px;
    font-size: 13px;
  }
  //---------------------------------------------------------------jobs--------------------------------------------------------------------
  //--------------------------------------------------------------company-----------------------------------------------------------------
  .section-wrap .company-items .about-company .company-info-text p {
    font-size: 12px;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 14px;
  }
  .section-wrap .company-items .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 11px;
  }
  //-------------------------------------------------------------------homepage-----------------------------------------------------------
  footer .footer-menu .footer-text {
    max-width: 250px;
  }
  footer .footer-menu .footer-text {
    padding-right: 0;
  }
  section .section-wrap .left-contents .background-image .background-contents  h4 {
    font-size: 40px;
  }
  .header-wrap .header-info .header-item .header-menu ul li a {
    font-size: 11px;
  }
  section
    .section-wrap
    .left-contents
    .section-info
    .info-col
    .section-background
    .background-contents
    
    h4 {
    font-size: 25px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content p {
    font-size: 15px;
  }
  section .section-wrap .left-contents .section-info .info-col .info-col-item .info-col-text .col-content h4 {
    font-size: 13px;
  }
  //---------------------------------------------------------------------homepage------------------------------------------------------------
}
@media #{$xl} {
  //------------------------------------------------------------------my-jobs----------------------------------------------------------------
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    font-size: 16px;
    padding-right: 0;
  }

  //------------------------------------------------------------------my-jobs-----------------------------------------------------------------
  //-------------------------------------------------------------------more-vacancy----------------------------------------------------------
  section .section-wrap .more-vacancy .more-vacancy-items .data .data-contents .vacancy-data-contents {
    padding-right: 0;
    padding-left: 90px;
  }

  //---------------------------------------------------------------------more-vacancy--------------------------------------------------------
}
@media #{ "(min-width: 400px) and  (max-width: 570px)"} {
  .example {
    max-width: 305px;
  }
  .section-wrap .my-jobs-items .job-exemple .exemple-items .example pre {
    font-size: 12px;
  }
}
