footer{
    background-color: #3C424E;
    padding-top: 24px;
    padding-bottom: 40px;
    .footer-menu{
        display: flex;
        justify-content: space-between;
        
        .footer-logo{
            display: flex;
            flex-direction: column;
            .logo-items{
                flex: 1;
                .logo-img{
                    width: 96px;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .logo-text{
                    padding-top: 5px;
                    p{
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 12px;
                    }
                }
            }
           
            .footer-web-menu{
                margin: 0 -9px;
                ul{
                    display: flex;
                    
                    li{
                      list-style: none;
                      padding: 0 9px;
                      a{
                        text-decoration: none;
                        i{
                            font-size: 25px;
                            color: rgba(255, 255, 255, 0.5);
                            &:hover{
                              color: #ffffff;
                            }
                          }
                      }
                    }
                }
            }
        }
        .footer-menu-items{
           
            .footer-menu{
                ul{
                    margin: -5px 0;
                    li{
                        list-style: none;
                        padding: 5px 0;
                        
                        a{
                            color: #ffffff;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 14px;
                            display: inline-block;
                            
                        }
                    }
                }
            }
           
        .footer-info-text{
            p{
                color: rgba(255, 255, 255, 0.5);
                font-size: 12px;
                max-width: 285px;
                padding-top: 35px;
            }
        }
        }
       .footer-text{
           padding-right: 50px;
           .footer-text-items{
               h4{
                   font-size: 15px;
                   font-weight: bold;
                   color: #ffffff;
                   text-transform: uppercase;
               }
           }
           .text-items{
               padding-top: 20px;
               p{
                   font-size: 12px;
                   color: #ffffff;
               }
               h5{
                font-size: 12px;
                color: #ffffff;
                padding-top: 20px;
               }
           }
       }
    }
   
  }
  