.header-wrap{
    background-color: #000000;
    display: flex;
    .header-info{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      align-items: center;
      .header-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
          width: 100px;
          img{
              width: 100%;
              object-fit: cover;
          }  
        }
        .toggle{
          display: none;
          a{
            text-decoration: none;
            i{
              color: #ffffff;
              font-size: 22px;
            }
          }
         
        }
        .header-menu{
          padding-left: 125px;
          
            ul{
              display: flex;
                li{
                  list-style: none;
                  a{
                        text-decoration: none;
                        font-size: 15px;
                        color: #ffffff;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 5px 10px 50px;
                        
                        &:hover{
                          color: #000000;
                          background-color: #ffffff;
                        }
                    }
                }
            }
        }
      }
       
        .wrap-items{
          display: flex;
            .languages{
                ul{
                  display: flex;
                    li{
                        list-style: none;
                        padding: 0 10px;
                        a{
                            text-decoration: none;
                            font-weight: 300;
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 16px;
                            &.active{
                              color: #ffffff;
                            }
                        }
                    }
                }
            }
            .web-items{
              padding-right: 27px;
              ul{
                display: flex;
                li{
                  list-style: none;
                  padding: 0 9px;
                  a{
                    text-decoration: none;
                    i{
                      font-size: 25px;
                      color: rgba(255, 255, 255, 0.5);
                      &:hover{
                        color: #ffffff;
                      }
                    }
                  }
                }
              }
            }
            .write-btn{
              a{
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                background-color: #ffffff;
                color: #000000;
                padding: 10px 15px;
              }
            }
         
        
    }
  }
}

