.section-wrap{
    
    .experience-contents{
      padding-top: 18px;
      flex: 1 ;
      padding-left: 20px;
      .content-background{
        background-image: url(../img/compont-img.png);
        width: 100%;
        height: 405px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        position: relative;
        .content-items{
          text-align: center;
          padding-top: 44px;
          max-width: 930px;
          .background-info{
            h5{
              font-size: 16px;
              color: #ffffff;
              text-transform: uppercase;
            }
            h2{
              padding-top: 15px;
              font-size: 45px;
              font-weight: bold;
              color: #ffffff;
              text-transform: uppercase;
             
            }
          }
          .share-items{
            justify-content: center;
            .comment{
              a{
                color: rgba(255, 255, 255, 0.5)
              }
              i{
                color: #ffffff;
              }
             
            }
            .to-share{
              i{
                color: #ffffff;
              }
              a{
                color: rgba(255, 255, 255, 0.5)
              }
            }
          }
          .content-info{
            padding-top: 18px;
            p{
              font-size: 18px;
              color: #ffffff;
            }
          }
        }
        .web{
          right: 55px;
          top: 44px;
          position: absolute;
          a{
            text-decoration: none;
            font-size: 16px;
            color: #ffffff;
          }
        }
      }
      .experience-info{
        padding-top: 40px;
        h4{
          font-weight: bold;
          font-size: 35px;
          color: #000000;
          text-transform: uppercase;
        }
        p{
          padding-top: 35px;
          color: rgba(24, 24, 24, 0.7);
          font-size: 18px;
          line-height: 1.33; 
          a{
            text-decoration: none;
            font-size: 18px;
            color: #2D9CDB;
            font-family: "Ubuntu"
          }
        }
      }
      .product-info{
        padding-top: 150px;
        .product-contents{
          border:  5px solid rgba(24, 24, 24, 0.5);
          opacity: 0.5;
          padding: 90px 0 100px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .product-img{
            padding-right: 22px;
            img{
              width: 32px;
              height: 28px;
            }
          }
          .product-text{
            p{
              font-size: 18px;
              font-weight: 300;
              color: #000000;
              text-transform: uppercase;
            }
          
          }
        }
      }
      .structur-contents{
        padding-top: 45px;
        h5{
          font-size: 35px;
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
        }
        p{
          padding-top: 30px;
          font-size: 18px;
          line-height: 1.33;
          color: rgba(24, 24, 24, 0.7);
        }
      }
      .structur-menu{
        padding-top: 25px;
        ul{
          padding-left: 30px;
          li{
            font-size: 18px;
            padding: 8px 0;
            color: rgba(24, 24, 24, 0.7);
            font-family: 'Ubuntu';
          }
        }
      }
      .structur-col{
        padding-top: 55px;
        h5{
          font-size: 18px;
          font-family: 'Ubuntu';
          color: #000000;
        }
        ul{
          padding-top: 30px;
          padding-left: 20px;
          li{
            display: flex;
            list-style: none;
            font-family: 'Ubuntu';
            font-size: 18px;
            color: #000000;
            padding: 15px 0;
            p{
              font-size: 18px;
              font-family: 'Ubuntu';
              color: rgba(24, 24, 24, 0.7);
              padding-left: 12px;
            }
          }
        }
      }
      .product-info-items{
        display: flex;
        padding-top: 22px;
        .product-info-img{
          width: 545px;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        .product-info-text{
          padding-left: 22px;
          max-width: 455px;
          p{
            padding-bottom: 40px;
            font-size: 18px;
            font-family: 'Ubuntu';
            color: rgba(24, 24, 24, 0.7);
            line-height: 1.33;
            span{
              color: rgba(24, 24, 24, 0.7);
              font-family: 'Ubuntu';
              font-weight: bold;
              font-size: 18px;
            }
          }
        }
      }
      .experience-items-text{
        padding-top: 46px;
        h3{
          font-size: 35px;
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
        }
        p{
          padding-top: 45px;
          color: rgba(24, 24, 24, 0.7);
          font-size: 18px;
          line-height: 1.33;
          font-family: 'Ubuntu';
        }
      }
      .more-info{
        display: flex;
        padding-top: 28px;
        align-items: center;
        .more-info-font{
          i{
            color: #ffffff;
            background-color: #000000;
            font-size: 22px;
            padding: 9px 12px;
          }
        }
        .read-more{
          padding-left: 18px;
          a{
            text-decoration: none;
            font-size: 18px;
            color: #2D9CDB;
            font-family: 'Ubuntu';
            span{
              font-family: 'Ubuntu';
              font-weight: bold;
              font-size: 18px;
              color: #000000;
            }
          }
        
        }
      }
      .more-info-text{
        padding-top: 30px;
        p{
          padding-bottom: 40px;
          color: rgba(24, 24, 24, 0.7);
          font-family: 'Ubuntu';
          font-size: 18px;
        }
      }
      .data-img{
        width: 100%;
        max-width: 1200px;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
      .about-project{
        padding-top: 25px;
        display: flex;
        justify-content: center;
        position: relative;
           
      
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000000;
          left: 0;
          bottom: 12px;
        }
        h5{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 20px;
          position: relative;
          z-index: 2;
          background-color: #ffffff;
          padding: 0 25px;
       
        }
      }
      .section-info{
        display: flex;
        padding-top: 55px;
       
        .info-col{
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 15px;
          .info-col-item{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            padding-bottom: 40px;
            .share-items{
              padding-top: 10px;
            }
            .info-col-img{
              width: 215px;
              img{
                width: 100%;
                object-fit: cover;
              }
            }
            .info-col-text{
              padding-left: 22px;
              .col-text{
                display: flex;
                .col-date{
                  padding-left: 8px;
                  p{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                  }
                }
              }
              .col-content{
                padding-top: 10px;
                h4, a{
                  font-size: 20px;
                  color: #3C424E;
                  text-transform: uppercase;
                  line-height: 1.25;
                  font-weight: bold;
                  max-width: 400px;
                }
                a{
                  text-decoration: none;
                }
                p{
                  padding-top: 12px;
                  color: rgba(0, 0, 0, 0.5);
                  text-transform: uppercase;
                  font-size: 18px;
                  line-height: 1.1;
                }
              }
              .share-items{
                .comment{
                  i{
                    opacity: 0.5;
                  }
                }
                .to-share{
                  i{
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }