.section-wrap{
    .company-items{
      padding-top: 18px;
      padding-left: 20px;
      flex: 1;
      .about-company{
        display: flex;
        .company-info{
          .company-img{
            .company-info-img{
              width: 410px;
              font-size: 0;
              img{
                width: 100%;
                object-fit: cover;
              }
            }
            .img-contents{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #C6C6C6;
              padding: 10px 0;
              width: 410px;
              .content-img{
                img{
                  width: 23px;
                  height: 23px;
                }
              }
              .content-text{
                padding-left: 8px;
                a{
                  text-decoration: none;
                  text-transform: uppercase;
                  color: #000000;
                  font-size: 16px;
                }
              }
            }
            .company-item{
              display: flex;
              justify-content: center;
              padding-top: 40px;
              h5{
                font-weight: bold;
                font-size: 20px;
                color: #000000;
                text-transform: uppercase;
              }
            }
            .company-img-items{
              padding-top: 30px;
              display: flex;
              .certificate{
                flex: 0 0 33.3333%;
                width: 33.3333%;
                padding: 0 10px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
        .company-info-text{
          padding-left: 45px;
          h3{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 35px;
            color: #000000;
            line-height: 0.7;
          }
          p{
            font-family: 'Ubuntu';
            font-size: 18px;
            color: #000000;
            line-height: 1.44;
            padding: 20px 0;
          }
        }
      }
      .about-project{
          
        padding-top: 25px;
        display: flex;
        justify-content: center;
        position: relative;
           
      
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000000;
          left: 0;
          bottom: 12px;
        }
        h5{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 20px;
          position: relative;
          z-index: 2;
          background-color: #ffffff;
          padding: 0 25px;
        }
      }
      .company-text{
        padding-top: 45px;
        h4{
          text-transform: uppercase;
          color: #000000;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .section-info{
        display: flex;
        flex-wrap: wrap;
        margin: 23px -10px 0;
        .info-col{
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 10px 35px;
          .info-col-item{
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            padding-bottom: 40px;
            .info-col-img{
              width: 215px;
              img{
                width: 100%;
                object-fit: cover;
              }
            }
            .info-col-text{
              padding-left: 22px;
              .col-text{
                display: flex;
                .col-date{
                  padding-left: 8px;
                  p{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                  }
                }
              }
              .col-content{
                padding-top: 10px;
                max-width: 350px;
                h4, a{
                  font-size: 20px;
                  color: #3C424E;
                  text-transform: uppercase;
                  line-height: 1.25;
                  font-weight: bold;
                }
                a{
                  text-decoration: none;
                }
                p{
                  padding-top: 12px;
                  color: rgba(0, 0, 0, 0.5);
                  
                  font-size: 18px;
                  line-height: 1.1;
                }
              }
              .share-items{
                .comment{
                  i{
                    opacity: 0.5;
                  }
                }
                .to-share{
                  i{
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }
      .jobs-item-image{
        display: flex;
        margin: 23px -10px 0;
        .jobs-background{
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 10px;
          .jobs-image{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px 0 100px 20px;
            .image-components{
             h5{
              font-size: 20px;
              padding-top: 10px;
              font-weight: bold;
              text-transform: uppercase;
              color: #ffffff;
             }
            }
          }
        }
      } 
    }
  }