.section-wrap {
  .left-contents {
    padding-top: 28px;
    padding-left: 20px;
    flex: 1;

    .background-image {
      background-image: url(../img/main-item1.png);
      width: 100%;
      background-position: center;
      background-size: cover;
      padding: 30px 38px 20px;
      height: 380px;

      .background-contents {
        padding-top: 100px;
        p {
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.5);
        }
        h4 {
          padding-top: 25px;
          color: #3c424e;
          font-size: 45px;
          font-weight: bold;
          line-height: 1.1;
          max-width: 740px;
          text-transform: uppercase;
        }
        ul {
          display: flex;
          padding-top: 30px;
          li {
            display: flex;
            align-items: center;
            padding-right: 25px;
            a {
              text-decoration: none;
              font-size: 16px;
              color: #000000;
              padding-left: 6px;
              i {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .section-info {
      display: flex;
      flex-wrap: wrap;
      margin: 23px -10px 0;
      .info-col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px 35px;
        .info-col-wrap {
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          padding-bottom: 40px;
        }
        .section-background {
          height: 280px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          padding: 35px 40px 30px;

          .background-contents {
            padding-top: 18px;
            p {
              font-size: 16px;
              color: rgba(60, 66, 78, 0.5);
            }
            h4 {
              color: #3c424e;
              font-size: 35px;
              font-weight: bold;
              line-height: 1;
              padding-top: 10px;
            }
            ul {
              display: flex;
              padding-top: 30px;
              li {
                display: flex;
                align-items: center;
                padding-right: 25px;
                a {
                  text-decoration: none;
                  font-size: 16px;
                  color: #000000;
                  padding-left: 6px;
                  i {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
        .info-col-item {
          display: flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
          padding-bottom: 40px;
          .info-col-img {
            width: 215px;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
          .info-col-text {
            padding-left: 22px;
            .col-text {
              display: flex;
              .col-date {
                padding-left: 8px;
                p {
                  font-size: 16px;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
            .col-content {
              padding-top: 10px;
              h4,
              a {
                text-decoration: none;
                font-size: 20px;
                color: #3c424e;
                text-transform: uppercase;
                line-height: 1.25;
                font-weight: bold;
                max-width: 400px;
              }
              p {
                padding-top: 12px;
                color: rgba(0, 0, 0, 0.5);
                font-size: 18px;
                line-height: 1.1;
                max-width: 400px;
              }
            }
            .share-items {
              .comment {
                i {
                  opacity: 0.5;
                }
              }
              .to-share {
                i {
                  opacity: 0.5;
                }
              }
            }
          }
        }
        .col-text {
          display: flex;
          .col-date {
            padding-left: 8px;
            p {
              font-size: 16px;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .col-content {
          padding-top: 10px;

          h4,
          a {
            text-decoration: none;
            font-size: 20px;
            color: #3c424e;
            text-transform: uppercase;
            line-height: 1.25;
            font-weight: bold;
            max-width: 435px;
          }
          p {
            padding-top: 12px;
            color: rgba(0, 0, 0, 0.5);
            max-width: 400px;
            font-size: 18px;
            line-height: 1.1;
          }
        }
        .share-items {
          .comment {
            i {
              opacity: 0.5;
            }
          }
          .to-share {
            i {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
