.section-wrap {
  .jobs-contents {
    padding-top: 18px;
    padding-left: 20px;
    flex: 1;
    .jobs-wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      align-items: center;
      .jobs-col {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        select {
          border: none;
          background-color: transparent;
          align-items: center;
          font-size: 15px;
          font-weight: bold;
          text-transform: uppercase;
          border: 1px solid rgba(0, 0, 0, 0.25);
          width: 215px;
          height: 40px;
          -webkit-appearance: none;
          padding: 0 5px;
          cursor: pointer;
        }
        .click {
          position: absolute;
          right: 10px;
          z-index: -1;
          a {
            i {
              font-size: 20px;
              color: #000000;
            }
          }
        }
      }
      .job-items {
        h4 {
          font-size: 35px;
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
        }
        p {
          padding-top: 15px;
          font-size: 25px;
          font-weight: bold;
          color: #000000;
          text-transform: uppercase;
        }
      }
    }

    .jobs-image-items {
      display: flex;
      flex-wrap: wrap;
      margin: 35px -10px 0;
      .jobs-background {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px 20px;
        position: relative;
        .jobs-image {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          min-height: 165px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
            z-index: 2;
            transition: all 0.5s;
          }
          .text-items {
            opacity: 0;
            transition: all 0.5s;
            p {
              font-size: 18px;
              color: #ffffff;
              font-family: "Ubuntu";
            }
          }
          .btn a {
            transition: all 0.5s;
          }
          .image-components {
            position: relative;
            z-index: 3;
            padding: 20px;
            h5 {
              font-size: 20px;
              padding-top: 10px;
              font-weight: bold;
              text-transform: uppercase;
              color: #3c424e;
              transition: all 0.5s;
            }
          }
          &:hover {
            .text-items {
              opacity: 1;
            }
            .btn a {
              background-color: transparent;
              padding: 0;
            }
            .image-components h5 {
              color: #ffffff;
            }
            &:after {
              background-color: #000000;
            }
          }
        }
      }
    }
    .web-text {
      padding-top: 37px;
      h5 {
        font-weight: bold;
        font-size: 20px;
        color: #000000;
        text-transform: uppercase;
      }
    }
  }
}
