.section-wrap {
  .more-vacancy {
    padding-left: 20px;
    padding-top: 18px;
    flex: 1;
    .more-vacancy-items {
      padding-top: 20px;
      padding-left: 35px;
      .more-vacancy-info {
        h4 {
          font-weight: bold;
          font-size: 35px;
          color: #000000;
          text-transform: uppercase;
          span {
            color: rgba(24, 24, 24, 0.5);
            text-transform: uppercase;
            font-weight: bold;
            font-size: 35px;
          }
        }
      }
      .vacancy-menu {
        padding-top: 35px;
        h5 {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          color: #000000;
        }
        ul {
          padding-top: 20px;
          li {
            list-style: none;
            font-size: 18px;
            color: #000000;
          }
        }
      }

      .data {
        padding-top: 80px;
        padding-bottom: 410px;
        .data-contents {
          background-color: rgba(24, 24, 24, 0.1);
          padding: 27px 60px 59px;
          .data-text {
            display: flex;
            justify-content: center;
            h5 {
              font-weight: bold;
              font-size: 35px;
              text-transform: uppercase;
              color: #3c424e;
            }
          }
          .data-items {
            padding-top: 40px;
            form {
              display: flex;
              margin: 0 -15px;
              .form-col {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 15px;
                .form-group {
                  padding-bottom: 20px;
                  input {
                    width: 100%;
                    height: 60px;
                    padding: 20px;
                    color: #000000;
                    font-weight: bold;
                    font-size: 15px;
                    font-family: "Roboto Cn";
                    border: 1px solid #000000;
                    &::placeholder {
                      font-size: 15px;
                      font-weight: bold;
                      text-transform: uppercase;
                      color: #000000;
                      font-family: "Roboto Cn";
                    }
                  }
                }
                textarea {
                  width: 100%;
                  height: 140px;
                  padding: 20px;
                  font-size: 15px;
                  font-weight: bold;
                  resize: none;
                  color: #000000;
                  font-family: "Roboto Cn";
                  border: 1px solid #000000;
                  &::placeholder {
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #000000;
                    font-family: "Roboto Cn";
                  }
                }
                .form-bottom {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-top: 20px;
                  &.mobile{
                    display: none;
                  }
                }
                .check {
                  label {
                    display: flex;
                    input {
                      width: 20px;
                      height: 20px;
                    }
                    p {
                      font-size: 16px;
                      color: #000000;
                      padding-left: 12px;
                    }
                  }
                }
                .data-blok {
                  display: flex;
                  .blok-img {
                    img {
                      width: 20px;
                      height: 24px;
                    }
                  }
                  .blok-text {
                    padding-left: 8px;
                    a {
                      text-decoration: none;
                      color: #000000;
                      font-size: 16px;
                    }
                  }
                }
                .send {
                  button {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffffff;
                    background-color: #3c424e;
                    padding: 20px 55px;
                    cursor: pointer;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
