.section-wrap{
    .my-jobs-items{
      padding-top: 18px;
      padding-left: 20px;
      flex: 1;
      .about-my-job{
        padding-top: 20px;
        padding-bottom: 95px;
        h4{
          font-weight: bold;
          font-size: 35px;
          color: #000000;
          text-transform: uppercase;
        }
        p{
          font-family: 'Ubuntu';
          font-size: 18px;
          line-height: 1.4;
          color: #000000;
          padding-top: 30px;
          a{
            text-decoration: none;
            color: #2D9CDB;
            font-size: 18px;
            font-family: 'Ubuntu';
          }
        }
      }
      .job-exemple{
        border: 5px solid  rgba(0, 0, 0, 0.15);
        height: 235px;
        align-items: center;
        .exemple-items{
          display: flex;
          padding-left: 75px;
          padding-top: 35px;
          .example{
            pre{
              color: #1B4F9D;
              font-size: 18px;
              font-family: 'Ubuntu';
              padding-right: 50px;
            }
          }
          .items-wrap{
            display: flex;
            .wrap-text{
              padding-left: 10px;
              p{
                font-size: 20px;
                font-weight: 300;
                text-transform: uppercase;
              }
            }
          }
        }
       }
        
      }
      .my-job-info{
        padding-top: 40px;
        p{
          padding-bottom: 30px;
          font-family: 'Ubuntu';
          font-size: 18px;
          color: #000000;
        }
      }
      .about-project{
          padding-top: 25px;
          display: flex;
          justify-content: center;
          position: relative;
             
        
          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000000;
            left: 0;
            bottom: 12px;
          }
          h5{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            position: relative;
            z-index: 2;
            background-color: #ffffff;
            padding: 0 25px;
          }
      }
      .jobs-item-image{
        display: flex;
        margin: 23px -10px 0;
        .jobs-background{
          flex: 0 0 50%;
          max-width: 50%;
          padding: 0 10px;
          .jobs-image{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 165px;
            padding: 20px;
            .image-components{
             h5{
              font-size: 20px;
              padding-top: 10px;
              font-weight: bold;
              text-transform: uppercase;
              color: #ffffff;
             }
            }
          }
        }
      }
    }
  
