    .section-wrap{
      .main-items{
        form{
          padding-top: 40px;
          .form-group{
            position: relative;
            input{
             border: none;
              border-bottom: 1px solid rgba(0, 0, 0, 0.25);
              position: relative;
              padding-left: 25px;
            }
            label{
              position: absolute;
              left: 0;
              top: -3px;
              i{
                color: #3C424E;
                
              }
            }
          }
        }
      }
      .partners-items{
        padding-left: 20px;
        padding-top: 18px;
        flex: 1;
        .item{
          padding-left: 35px;
          h4{
            font-weight: bold;
            font-size: 35px;
            text-transform: uppercase;
            color: #000000;
          }
        }
        .partners-contents{
          padding-top: 55px;
          padding-bottom: 80px;
          padding-left: 40px;
          display: flex;
          flex-wrap: wrap;
          .partners-info{
            flex: 0 0 33.3333%;
            max-width:33.3333%;
            text-align: center;
            padding: 10px;
            .d{
              background-color:rgba(0, 0, 0, 0.05);
              padding: 35px 70px;
              .partners-img{
                img{
                  max-width: 180px;
                  object-fit: contain;
                  height: 110px;
                }
              }
              p{
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.03;
                color: #000000;
              }
            }
           
          }
        }
      }
      
    }