.section-wrap {
  .vacancy-contents {
    padding-left: 20px;
    padding-top: 18px;
    flex: 1;
    .all-vacancy {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      align-items: center;
      .vacancy-header {
        h4 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 35px;
          color: #000000;
        }
      }
      .vacancy-col {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        select {
          border: none;
          background-color: transparent;
          align-items: center;
          font-size: 15px;
          font-weight: bold;
          text-transform: uppercase;
          border: 1px solid rgba(0, 0, 0, 0.25);
          width: 215px;
          height: 40px;
          -webkit-appearance: none;
          padding: 0 5px;
          cursor: pointer;
        }
        .click {
          position: absolute;
          right: 10px;
          z-index: -1;
          a {
            i {
              font-size: 20px;
              color: #000000;
            }
          }
        }
      }
    }
    .vacancy-items {
      padding-top: 35px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding-bottom: 22px;
      .vacancy-info {
        display: flex;
        .col-date {
          padding-left: 12px;
          p {
            text-transform: uppercase;
            font-size: 16px;
            color: #000000;
          }
        }
      }
      .vacancy-info-text {
        padding-top: 18px;
        h5 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 20px;
          color: #3c424e;
        }
        p {
          padding-top: 12px;
          font-size: 18px;
          font-family: "Ubuntu";
          color: rgba(0, 0, 0, 0.5);
          line-height: 1.2;
        }
      }
      .more-info {
        display: flex;
        padding-top: 30px;
        padding-bottom: 20px;
        .more-info-content {
          padding-top: 15px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: #000000;
            background-color: rgba(0, 0, 0, 0.15);
            padding: 15px 25px;
          }
        }
        .to-share {
          display: flex;
          align-items: center;
          padding-left: 20px;
          a {
            text-decoration: none;
            color: #3c424e;
            opacity: 0.5;
            font-size: 16px;
            padding-left: 5px;
            i {
              color: #3c424e;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
